[2019-04-25 20:45] dlorenc opened #3 "Setup integration testing for tasks and pipelines"
Maintainers should be able to safely make changes to tasks and pipelines that we don't fully understand. This will require contributors to include tests of some form with their submissions.

[2019-04-25 20:46] dlorenc opened #4 "Decide/Include Submission Guidelines"
- [x] What type of tasks/pipelines are appropriate for this catalog?
- [ ] What are the requirements to become an OWNER of this catalog?
- [ ] What are the requirements to become an OWNER of a specific item in the catalog?

[2019-04-25 20:48] dlorenc opened #5 "Decide on support "levels'"
Is everything in here at the same "level" of support? Do we need a "playground" area? Or maybe "stable" and "incubation", like helm/charts?

[2019-04-25 21:38] dlorenc opened #7 "Idea: TekDoc tool, similar to godoc"
## Desired state

[godoc](https://godoc.org) hosts documentation for go projects. It finds these projects (scrapes them? not sure!) and looks for docstrings in [the required format](https://blog.golang.org/godoc-documenting-go-code) and uses that to generate (and i guess maintain? it must poll for changes) documentation, for example [this is some godoc generated docs for a function in tekton pipel

[2019-04-25 21:51] dlorenc commented on #3
A note on auth from @ImJasonH:

`I had thought about it. That gets tricky when the Task requires auth to successfully push the image. It's the same reason the build-templates repo never included actual running builds... 😒`

[2019-04-25 22:25] bobcatfish commented on #7
oooo that sounds super sweet

[2019-04-30 20:45] dlorenc commented on #3
Here's what I'm thinking for tests:

1. We have a directory full of PipelineResources that TaskRuns can make use of during execution.
2. At the start of a test run, we create a namespace then create all of these PipelineResources in it.
3. For each `Task` we want to test:
    1. Parse the `Task` and examine the `Inputs`.
    2. Check to make sure we have a PipelineResource that fits that type.

[2019-05-01 20:19] kimsterv opened #13 "Report metrics for tasks and pipelines in the catalog"
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-05-08 09:16] siamaksade commented on #5
The Helm model is definitely useful. It gives space to expose more experimental tasks in this repo

[2019-05-13 14:20] dlorenc commented on #3
Plan is to add some no-op tests first, get the prow configuration hooked up so they're passing, then extend the tests to get full coverage.

[2019-05-17 16:26] dlorenc opened #29 "Decide strategy for hosting images used in catalog"
- Where should they live (what registry)?
- Who rebuilds/maintains them?
- Where should the source/config live?

[2019-05-29 13:17] vdemeester opened #36 "Add knative deployment tasks"
We should provide a set of task that makes it easy to deploy knative services using `Tekton`, related to tektoncd/pipeline#250, tektoncd/pipeline#303

An initial attempt is done in #34, but we need more:
- Using [`knative/client`](https://github.com/knative/client) instead
- Provide more parameters and features (more than just `deploy`, we may want to change some environment variables, do some blu

[2019-05-29 13:19] vdemeester opened #37 "Add initial Kubernetes "deployment" tasks"
Similar to #36, but for Kubernetes, we should provide a set of task that makes it easy to deploy (services, deployments, and more…) kubernetes services using `Tekton`.

*I need to complete this issue :angel:*

[2019-05-29 13:38] vdemeester commented on #4
Aren't those the share with the rest of the project (see on [`community`](https://github.com/tektoncd/community/blob/master/process.md#requirements))

Should the initial submitter of the pull-request add itself as an owner (or a few people) ?

[2019-05-29 13:39] vdemeester commented on #7
that would be really good ! auto-generated on an url like https://catalog.tekton.dev :heart_eyes:

[2019-06-05 09:50] vdemeester opened #42 "s2i : add extra steps to get s2i image builder labels"
Related to https://github.com/openshift/source-to-image/issues/973, `s2i build --as-dockerfile` doesn't read those labels, and thus some s2i can later failed if the runtime script are not at the default places.

As a temporary workaround, we should add a `skopeo` inspect step that gets those labels, so that we can specify the correct flags to `s2i build --as-dockerfile` :angel:

cc @piyush-garg @s

[2019-06-06 10:04] afrittoli commented on #3
Perhaps tests could stand up a registry in the test cluster and point the Task to it?

[2019-06-06 10:13] afrittoli commented on #3
If we to actually run the Tasks, it may be that the resource type is not enough to match.
Take for instance a task that deploys and helm chart, may have a git input resource that holds the helm chart, so a generic git resource won't work, it must be a git repo that holds an helm chart, but there's no semantic about this in the Task definition. So I think we'll need to be able to have Task specific

[2019-06-13 23:26] bobcatfish opened #45 "Design: Sharing Tasks and Pipelines without Copy Pasta"
# Expected Behavior

We should have a recommended path for how we expect people to make use of the Tasks and Pipelines that we make available in this repo, as well as how they can share Tasks and Pipelines within a company.

We want to be able to uphold these attributes:

* Config as code - i.e. checking in Pipelines and Tasks with the code they are used for (but what about a company with many rep

[2019-06-14 07:58] cmoulliard opened #46 "[Request] Have a task supporting the bash commands"
## Feature request

The goal of this request is  to have a task supporting the execution of multiple bash commands as we can by example do using CircleCI. See : https://github.com/snowdrop/component-operator-demo/blob/master/.circleci/config.yml#L26-L32

Tekton currently proposes this approach: https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/task-env.yaml
but we can't group the

[2019-06-17 09:21] afrittoli commented on #45
Related: https://github.com/tektoncd/pipeline/issues/964, https://github.com/tektoncd/pipeline/issues/964

[2019-06-17 13:11] afrittoli commented on #29
Are there IaaS resources we can get from sponsor companies through the CDF?
We could host and maintain a public registry on the *.tekton.dev domain. That would give us a neutral home for the images.

[2019-06-17 13:22] afrittoli commented on #13
It would be great, but it will be difficult to achieve a fear.
Once we have a solution for https://github.com/tektoncd/catalog/issues/45, if we have some kind of registry to Tasks and Pipelines we could track downloads. Otherwise we could just ask users to volunteer this information.

[2019-06-18 09:26] cmoulliard opened #47 "Doc enhancement : where git code is stored for s2i task"
## Doc enhancement

The s2i task of the catalog specifies a resource of type `git` without working dir. Is it possible to document where the project cloned is stored within the pod's task. Is it under the current path of the volume mounted ? Is it somewhere else ? Is it by default under `/workspace/` as reported within the git container log ?

That could be great to document that otherwise it is v

[2019-06-18 09:28] vdemeester commented on #47
Hey @cmoulliard
This is documented in the tektoncd/pipeline docs : [here](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#controlling-where-resources-are-mounted)

[2019-06-18 09:40] cmoulliard commented on #47
Cool. Then I propose to add the link here "source: A git-type PipelineResource specifying the location of the source to build."

[2019-06-19 23:24] AdityaGupta1 commented on #46
A workaround that I use is:

[code]

But it would be nice to have a proper way to do multiple commands at once.

[2019-06-26 18:04] xihaLong commented on #45
https://docs.google.com/document/d/1WbqPX4wmT1XLoJTM7gKekxLIUSZkggAcosYhR3lA6YQ/ Writing up a design document to capture some concrete ideas of how to potentially alleviate copy pasta, particularly focused on command line use by a Tekton end user. Open to edit by anyone in https://groups.google.com/forum/#!forum/tekton-dev and open to view publicly

[2019-07-22 14:37] dlorenc opened #53 "Design a system for annotating Tasks with Tekton version support"
Some tasks in the catalog may only work with recent or old versions of Tekton. We should come up with a clear way to display this to catalog users.

[2019-07-25 13:58] dibbles opened #54 "Vulnerability scanning task"
It would be good to have an example vulnerability scanning task, as this is certainly something that will be widely used.... could look to using opensource scanning engines .... maybe something like anchore(?).

[2019-08-09 11:58] zroubalik opened #57 "kn task does not work on v0.5.2"
# Expected Behavior
Knative service beeing deployed

# Actual Behavior
Not able to deploy simple helloworld Knative Service, seems like there's a problem with passing arguments to the kn service image. I used the example Task and TaskRun from https://github.com/tektoncd/catalog/tree/master/kn without any modifications, but got this error:
[code]

This part is probably not correctly parsed by tekto

[2019-08-09 12:10] zroubalik opened #58 "kn task: generateName doesn't work on v0.5.2"
# Expected Behavior
TaskRun being created

# Actual Behavior
TaskRun is not being created

# Steps to Reproduce the Problem

1. Create task without any modifications from https://github.com/tektoncd/catalog/tree/master/kn
2. Create TaskRun as advised in Readme.md, but got error:
[code]
3. I had to change `Metadata` in Task from:
[code]
to:
[code]

# Additional Info
Running on OpenShift 4.1
(Kubern

[2019-08-13 17:37] vdemeester commented on #58
@zroubalik thanks for the issue. If you are using `generateName` (as the README suggest), you **have to** use `kubectl create` (or `oc create`) instead of `apply`. `generateName` is a feature of the kubernetes api server, but it only works on `kubectl create` not on apply.

As this is not a bug on pipeline or the task itself, and as it's correctly using `kubectl create` in the README, I'm gonna cl

[2019-08-13 17:37] #58 closed

[2019-08-13 17:39] vdemeester commented on #57
/kind bug

[2019-08-21 19:00] sbwsg opened #62 "ArgoCD task errors in 0.6.0 due to webhook failing validation of removed `containerTemplate` field"
# Expected Behavior

ArgoCD task applies successfully in 0.6.0.

# Actual Behavior

The ArgoCD task contains a `containerTemplate` field that has now been removed. The webhook now disallows unknown fields and so the ArgoCD task fails to apply.

# Steps to Reproduce the Problem

1. Run a cluster with tekton v0.6
2. Clone catalog
3. `kubectl apply -f ./argocd/argocd.yaml`

[2019-08-27 04:57] dove-young opened #63 "Tekton dashboand access 403 forbidden and 404"
# Expected Behavior

Dashboard web page could be accessed.

# Actual Behavior

403 Forbidden

# Steps to Reproduce the Problem

1. Install tekton pipeline and dashboard as documents said
[code]
2.  Access dashboard `curl 10.1.94.234:9097/`, see `403 Forbidden`
[code]
3. Access health check are fine `curl 10.1.94.234:9097/health` and `curl 10.1.94.234:9097/readiness`
4.  I don't find any explicit e

[2019-08-27 05:18] dove-young commented on #63
I finally workaround this problem by allowing dashboard pod to run as root.

I can access via curl on the host , but when I access via Ingress, I got 404.
[code]

I tried both basic ingress and SSL ingress.  I also added http rewrite to by ingress.

[code]

Here is its status

[code]

[2019-08-27 05:27] dove-young commented on #63
Expose `service/tekton-dashboard` to node port works well.

[2019-08-27 06:30] dove-young commented on #63
I can also access successfully via an Nginx proxy with following configuration,  but Ingress still get 404

[code]

[2019-08-28 16:15] a-roberts commented on #63
Hey @dove-young! This is better suited to our dedicated https://github.com/tektoncd/dashboard page, have you been running this on Minishift or OpenShift? In both cases we create the route for you, and by ` allowing dashboard pod to run as root.` wdym exactly? Did you have some pod security policy or security context rule in place perhaps?

[2019-09-04 15:57] vdemeester commented on #4
/assign

[2019-09-11 13:56] navidshaikh opened #70 "kn-create task creation fails"
# Expected Behavior
[code]
works and `kn-create` task is available.

# Actual Behavior

task definition https://github.com/tektoncd/catalog/blob/master/kn/kn-create.yaml is not being created.

[code]

# Steps to Reproduce the Problem

1. Follow the instructions at  https://github.com/tektoncd/catalog/blob/master/kn/README.md

[2019-09-11 14:05] vdemeester commented on #70
/kind bug

[2019-09-11 14:20] #70 closed

[2019-09-11 14:40] navidshaikh commented on #70
@vdemeester : thanks for quick turn around on this.
I think this bug should've been picked up in e2e https://github.com/tektoncd/catalog/blob/master/test/e2e-tests.sh#L32 ?

but when I see the earlier (merged PR's) test run, for eg for https://github.com/tektoncd/catalog/pull/67, the [logs](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_catalog/67/pull-tekton-catalog-i

[2019-09-12 12:33] navidshaikh opened #72 "Parameterize the kn image to be used in kn-create task"
# Expected Behavior
I should be able to input the kn image to be used for kn-create task  at https://github.com/tektoncd/catalog/blob/master/kn/kn-create.yaml
specifically, I'd like to run the nightly build. The default could be the latest release available for kn image.

# Actual Behavior
The current kn task now points the latest kn release available.

# Additional Info
1. Latest released upstrea

[2019-09-13 12:15] navidshaikh opened #73 "kn-create task not receiving the service name parameter"
# Expected Behavior

Successful service creation using kn task at https://github.com/tektoncd/catalog/tree/master/kn

# Actual Behavior

Service creation failing with error
[code]

# Steps to Reproduce the Problem

1. Follow instructions at https://github.com/tektoncd/catalog/tree/master/kn
2. Reference a built image and a service name in taskrun.yaml
3. Create taskrun

[code]

[2019-09-13 12:26] vdemeester commented on #73
/kind bug

[2019-09-13 15:53] navidshaikh opened #76 "Support kn flags for kn-create task"
# Expected Behavior

User should be able to specify the flags available for `kn create` in kn-create task.

# Actual Behavior

Currently only optional flag supported is `--force`.

/assign

[2019-09-13 15:55] navidshaikh commented on #76
Available flags for `kn create` command
[code]

[2019-09-13 15:57] navidshaikh commented on #76
Almost all of the flags mentioned above are common between `kn create` and `kn update`. We'll need `kn update` task as well in place. Is there a better way to share the parameters between two tasks ?

[2019-09-13 16:31] navidshaikh commented on #72
/assign

[2019-09-14 17:11] danielhelfand opened #78 "Tag Images for openshift-client Task"
Currently, the `openshift-client` task uses a tag of [latest](https://github.com/tektoncd/catalog/blob/master/openshift-client/openshift-client-task.yaml#L15) for its image. It would be a better practice to tag the image based on the version of Tekton pipelines the task would work with and explicitly call out what the version tag is for the task as opposed to using the `latest` tag.

There should

[2019-09-16 08:10] navidshaikh opened #79 "Support kn commands as args for kn task"
# Expected Behavior
User should be able to use all the commands kn provides with tekton.

This proposal is to rename present `kn-create` task with simply kn task which takes its parameters as `spec.inputs.params` of `type: array`.
With this in place, we'll have single task for kn at catalog with each command group and its flag usage for taskrun examples documented.

# Actual Behavior
Presently we

[2019-09-16 08:11] navidshaikh commented on #76
Closing in favor of https://github.com/tektoncd/catalog/issues/79

[2019-09-16 08:11] #76 closed

[2019-09-16 14:58] #73 closed

[2019-09-19 15:19] #78 closed

[2019-09-19 15:21] piyush-garg commented on #78
/open

[2019-09-19 15:22] piyush-garg commented on #78
@danielhelfand We have reverted the change for openshift client task that broke for the operator, also we have tagged the image this time, soon we will do the archiving of task like releasing a branch or something else. This is in discussions now.

[2019-09-24 10:17] jr00n opened #85 "[request] please support non privileged"
I'm not allowed by the cluster-admin to add scc privileged to an service account.
What can I do to make an s2i build like I used to do in Jenkins with a OpenShift builder

[2019-09-24 13:28] #79 closed

[2019-09-24 15:34] navidshaikh commented on #72
Fixed as part of #83

[2019-09-24 15:34] #72 closed, assigned to navidshaikh

[2019-09-30 18:08] slowr opened #91 "Templating typo on buildkit/buildah"
Seems that some yaml files were not upgraded correctly to use parentheses instead of brackets.

# Expected Behavior
Run a `TaskRun` for buildah or buildkit task with default parameters.

# Actual Behavior
The yaml files have brackets instead of parentheses and the templating does not work
[code]

[2019-10-01 07:21] vdemeester commented on #91
/kind bug

[2019-10-01 07:28] #91 closed

[2019-10-03 12:09] vdemeester opened #94 "Add Task definition without PipelineResource"
In the recent [PipelineResource working group](https://docs.google.com/document/d/1p6HJt-QMvqegykkob9qlb7aWu-FMX7ogy7UPh9ICzaE/edit#heading=h.qlw6qthulviy) and as presented during [Oct. 2 working group](https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit#heading=h.cmh0v8dadexs), and related to tektoncd/pipeline#1369 :

In the most recent PipelineResource working gr

[2019-10-03 12:15] vdemeester opened #95 "Add Tasks to cover PipelineResource use cases"
In the recent [PipelineResource working group](https://docs.google.com/document/d/1p6HJt-QMvqegykkob9qlb7aWu-FMX7ogy7UPh9ICzaE/edit#heading=h.qlw6qthulviy) and as presented during [Oct. 2 working group](https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit#heading=h.cmh0v8dadexs), and related to tektoncd/pipeline#1369 :

In the most recent PipelineResource working gr

[2019-10-04 10:38] vdemeester commented on #63
as @a-roberts said, this is better suited for tektoncd/dashboard, so I'll close this one
/close

[2019-10-04 10:38] #63 closed

[2019-10-04 10:39] vdemeester commented on #62
This is fixed in master
/close

[2019-10-04 10:39] #62 closed

[2019-10-04 10:59] vdemeester opened #96 "Releasing process of the catalog"
With the recent backward-incompatible (`containerTemplate` -> `stepTemplate`, templating using `$(…)` instead of `${…}`), the catalog is or appeard broken for different releases of tektoncd/pipeline.

This issue is there to discuss what we can do to, hopefully fix that.

One solution would be to branch the catalog on a given cadence with the same major/minor version of tektoncd/pipeline – making,

[2019-10-10 12:43] vdemeester commented on #45
Updated design doc : https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#

[2019-10-17 13:00] chmouel opened #101 "Add yamllint to CI test"
# Expected Behavior

Yaml nicely linted, tidy and clean

# Actual Behavior

![image](https://user-images.githubusercontent.com/98980/67010876-cdf85f00-f0ee-11e9-83c8-72defc8c43e4.png)

# Steps to Reproduce the Problem

1. install yamllint
2. yamllint **/*.yaml

# Additional Info

* A makefile with a `make lint` so people can run it locally before sending the pr would be nice,

[2019-10-17 14:22] vdemeester commented on #57
As of today, the catalog works on 0.7.0 and is not support for previous version. We want/need to enhance that and we are tracking those in https://github.com/tektoncd/catalog/issues/96

/close

[2019-10-17 14:22] #57 closed

[2019-10-17 14:23] vdemeester commented on #46
@cmoulliard I think the related issue in pipeline is https://github.com/tektoncd/pipeline/pull/1432, and thus I feel we can close this one :angel:

[2019-10-17 15:01] vdemeester commented on #5
Depending on where we are going with the [Pipeline Catalog Integration story](https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#), the shape of the catalog might be *imposed*.

The helm catalog used folders: `stable` and `incubation`. We could go for the same sort of folder hierarchy :

- New task are added in incubation
- We can have different group of OWNERS fo

[2019-10-17 15:10] vdemeester opened #102 "Epic: enhance the catalog CI"
This issue represent an Epic to track work around the CI for catalog.

- Add more simple validation (like `yamllint`): #101
- Add execution tests as much as possible: #103
- Add continuous tests (validation and execution) on a daily or weekly basis

[2019-10-17 15:15] vdemeester commented on #53
@dlorenc this is kinda related to https://github.com/tektoncd/catalog/issues/96. Quoting the other issue.

I feel this would be the simplest way to support multiple version at a low cost.

[2019-10-17 15:42] chmouel opened #103 "Taskrun tests"
We are currently only apply the yamls making sure they apply into the cluster for our template test.

We want ideally to be able to run the taskrun and check they are succeeding, for example on `kaniko` or `jjb` have it to build and image and making sure this build it.

As a prereq we would need a external registry to output to

[2019-10-17 15:42] chmouel commented on #103
/assign

[2019-10-17 15:43] chmouel commented on #102
You can add #103 for the second bullet,

I am not sure I understand your point for :

`Add continuous tests (validation and execution) on a daily or weekly basis`

why daily, weekly and not just on every PR ?

[2019-10-17 16:12] vdemeester commented on #102
This would be to help see how stable or not those task are, and detect early failure if, for some reason, the image is updated and doesn't work anymore in that task for example.

[2019-10-17 18:20] raffamendes opened #106 "[Request] Have a task that suports ansible tower-cli commands"
# Feature Request

The goal of this request is to have a task for executing tower-cli commands the same way the openshift client task does.

I'm actually willing to create this task, but I never contributed before.

[2019-10-18 07:45] vdemeester commented on #106
/kind feature
@raffamendes you can create a PR adding it :angel: Take inspiration from the other tasks present :angel:

[2019-10-18 15:32] cmoulliard commented on #46
Yes.

[2019-10-18 15:32] #46 closed

[2019-10-20 11:13] garethr commented on #54
@dibbles I've created a set of Tekton Tasks for using Snyk to scan for vulnerabilities in https://github.com/garethr/snyk-tekton. These are still experimental but I'd love any feedback.

[2019-10-21 08:34] dibbles commented on #54
Feeling guilty as not got any time to look at these in detail, but looks useful, would be good to also have container image vulnerability scanning.

[2019-10-22 19:13] caggles commented on #85
I read the article posted by @chmouel and it's very interesting, but it says that you can run `buildah unshared` and therefore don't need privileged access - does that case not work for the s2i task for some reason?

[2019-10-23 09:53] #4 closed

[2019-10-23 10:24] chmouel opened #110 "Failing to run s2i task on kubernetes/minikube"
# Expected Behavior

S2i building application properly

# Actual Behavior

When running s2i task under minikube or kubernetes we are getting this error :

[code]

# Steps to Reproduce the Problem

1. Create a resource

<details>
  <summary>resource.yaml</summary>
<pre>
 ---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: nodejs-s2i-example
spec:
  type: git
  params:
  - n

[2019-10-23 10:50] chmouel commented on #110
/kind bug

[2019-10-30 20:56] NicolasRouquette opened #112 "buildah: Need input parameter for build context"
# Expected Behavior

Suppose we have a repository like this:

`./foo/Dockerfile`
`./foo/bar`
`./foo/bar/Makefile`

where `./foo/Dockerfile` has:

[code]

In order to build this properly, there should be an input parameter available to specify the build context as `./foo`.

# Actual Behavior

However, the build command is currently:

[code]

There is currently no way to specify the build context in

[2019-10-31 10:15] #36 closed

[2019-10-31 18:37] jsimao71 opened #117 "Tekton jib-maven fails with stange compilation error"
# Expected Behavior

I'm trying to run a taskrun with jib-maven from a test public git repo on the URL below.
Maven compile work locally flawlessly and so running jib locally.
URL of Git REPO:
https://github.com/einnovator-appstudio/superheros2

# Actual Behavior
It fails miserable with tekton.
Maven pulls all artifacts with success from maven central and other public s3 maven repo.
But then when

[2019-11-01 12:25] siamaksade opened #118 "Build task should pin the image version"
The buildah task uses the `quay.io/buildah/stable:latest` image. It should pin the image version e.g. `v1.11.3`

[2019-11-01 18:21] jsimao71 commented on #117
found problem...basic pom file was not quite right...

[2019-11-01 18:21] #117 closed

[2019-11-02 06:03] #118 closed

[2019-11-07 08:52] vdemeester commented on #106
#122 is merged, we can close this one :wink:
/close

[2019-11-07 08:52] #106 closed

[2019-11-07 14:57] vdemeester commented on #3
#105 should be part of this :angel:

[2019-11-07 15:04] vdemeester commented on #29
As of now, we don't really have the resource power to maintain images so for now we should stick to relying on externaly maintained images.

[2019-11-07 15:05] vdemeester commented on #96
I'm gonna add the content of #53 in here

[2019-11-07 15:05] vdemeester commented on #53
/close

[2019-11-07 15:05] #53 closed

[2019-11-07 15:08] vdemeester commented on #3
I wonder if we should close this one as prow has already an integration test job that does the simplest possible test (aka applying it and validating it works). Adding more tests can be tracked in additional issues and pull-request.

/cc @dlorenc

[2019-11-07 15:09] vdemeester commented on #3
especiall as we do have https://github.com/tektoncd/catalog/issues/102 :sweat_smile:

[2019-11-07 16:10] vdemeester opened #124 "terraform task(s)"
We should provide Tasks that are able to use `terraform` to deploy things through it.

/kind feature

[2019-11-13 17:09] raffamendes commented on #124
Would this task just execute terraform-cli commands? ( I never used terraforms, but if it's just to execute CLI commands, I'd be glad to create this task)

[2019-11-13 18:20] bugsbunnyshah opened #131 "bazel.yaml from the tutorial"
# Additional Info
I am looking for the bazel.yaml file being referenced in the tutorial under the the following command:

$ kubectl apply -f bazel.yaml
task.tekton.dev/bazel created

I am trying to work with the following nodejs project:

git clone -b v1 https://github.com/docker-training/node-bulletin-board

Thanks
Sohil

[2019-11-14 10:07] vdemeester commented on #131
@bugsbunnyshah right, we need to update the README, the `bazel` task is not present for some reason (cc @ImJasonH).

/kind documentation

[2019-11-14 10:12] vdemeester commented on #124
I would think so yeah :angel:

[2019-11-14 14:10] #103 closed

[2019-11-14 15:28] bugsbunnyshah commented on #131
Thank you. That would save me some time as I am looking to make steady progress with Kubernetes and tecktoncd. I must say you guys have built something really good at the alpha level.

Also, it gave me an opportunity to take a look at bazel. It is very nicely done as well.

Have a nice day
-Sohil

[2019-11-15 15:52] #101 closed

[2019-11-18 12:33] raffamendes commented on #124
This is actually going to be 2 tasks, because the way terraforms authenticate, each provider need a different set of enviroment variables, this is easy to achieve with ```envFrom``` but this would only work in kube1.6+ clusters, still trying to figure a way to dynamically set environment variables for older version of kube that is not a ugly workaround :sweat_smile:

[2019-11-19 08:58] chmouel opened #139 "E2E Test for S2I image is not working anymore"
# Expected Behavior

Test pass

# Actual Behavior

<details>
  <summary>Error log when building S2I image</summary>
<pre>
namespace/s2i-67513 created
task.tekton.dev/s2i created
pipelineresource.tekton.dev/nodejs-s2i-example created
pipelineresource.tekton.dev/image created
securitycontextconstraints.security.openshift.io/privileged added to: ["system:serviceaccount:s2i-67513:builder"]
taskrun.tek

[2019-11-19 08:59] chmouel commented on #139
/assign
/kind bug

[2019-11-21 21:47] tjhiggins commented on #124
Def interested in this feature. Would love to play around when you have the envFrom working!

[2019-11-25 16:17] raffamendes opened #144 "Cannot create step with script"
I'm trying to create a step on a task that executes a script
[code]

Getting the error message:
[code]

I'm Using CodeReadyContainers 4.2 and operator version 0.8

[2019-11-25 16:18] raffamendes commented on #144
/kind question

[2019-11-25 17:12] vdemeester commented on #144
@raffamendes right, the `script` part is not released yet (I think the PR got merged after the 0.8 release), so it should be available with 0.9 :angel:

@ImJasonH correct me if I am wrong :angel:

[2019-11-25 17:59] raffamendes commented on #144
@vdemeester if so, is there a problem about submitting a PR to add the terraform CLI task only working at kube clusters 1.6+? because of the ```envFrom``` capability. For older versions it will need the ```script``` feature for a workaround :sweat_smile:

[2019-11-26 10:36] vdemeester commented on #144
So, tekton supports kube cluster 1.12+ so it's all good (`envFrom`, …). We can also prepare a PR and wait for 0.9.0 to get released (aka this week) :wink:

[2019-11-26 12:07] raffamendes commented on #144
Will submit the PR for the 1.6+ terraform task later today, and wait for the ```script``` release, I prefer to test the script before :sweat_smile: to make sure the workaround works for both ways to use provider credentials.
 I'll go ahead and close this issue.
Thanks @vdemeester

[2019-11-26 12:07] #144 closed

[2019-11-26 13:03] chmouel opened #145 "Add common function for adding a registry in e2e tests"
Add a common function so when we add a registry to task in e2e tests we don't
duplicate everywhere.

[2019-11-26 13:04] chmouel commented on #145
/assign
/kind feature

[2019-11-26 13:11] raffamendes commented on #124
/assign

[2019-11-26 13:56] danielhelfand opened #147 "Feature Request: Azure CLI Task"
# Expected Behavior

Ability to run azure cli commands from a Tekton task. Similar to what is available for [`gcloud`](https://github.com/tektoncd/catalog/tree/master/gcloud).

# Additional Info

Image available [here](https://hub.docker.com/_/microsoft-azure-cli).

[2019-11-26 13:57] danielhelfand commented on #147
/kind feature

[2019-11-26 18:50] bobcatfish commented on #7
Been talking with @ImJasonH and @wlynch and a great first step (ignore what I put in the description!) for this would be a command line tool that can generate some markdown from the existing description fields.

For example given these input params:

https://github.com/tektoncd/catalog/blob/1b3ceee11d6f1f177c1901007f46191a4e047d2c/buildpacks/buildpacks-v3.yaml#L6-L21

We would want to generate thi

[2019-11-26 19:16] danielhelfand commented on #147
/assign

[2019-11-27 07:34] nikhil-thomas opened #148 "Some of the Tasks still use `workingdir` instead of `workingDir` in steps"
# Expected Behavior

Tasks steps should use field name `workingDir` instead of field name `workingdir`

# Actual Behavior

some of the Tasks in this catalog uses field `workingdir` (instead of `workingDir`) in step specification.

https://github.com/tektoncd/catalog/tree/master/conftest/conftest.yaml
https://github.com/tektoncd/catalog/tree/master/conftest/helm-conftest.yaml
https://github.com/tek

[2019-11-27 08:36] vdemeester commented on #148
/kind cleanup

[2019-11-27 10:09] #145 closed

[2019-11-27 16:07] kinkerl opened #151 "Problems getting the cloud native buildpacks example to run because of missing builder image"
# Expected Behavior

Follow the example in the `buildpacks`directory and get it to run.

# Actual Behavior

Looks like the used builder docker image does not exist anymore. It is referenced in the task run as "gcr.io/cncf-buildpacks-ci/tekton-cnb-test:bionic" but it looks like it got removed. Is there a new home for it somewhere?

# Steps to Reproduce the Problem

1. docker pull gcr.io/cncf-buildp

[2019-11-27 16:15] vdemeester commented on #151
/kind bug
/cc @jromero @ameyer-pivotal

[2019-12-02 12:34] raffamendes commented on #124
/close
this issue was resolved with the PR #149
cc @tjhiggins

[2019-12-02 12:34] #124 closed

[2019-12-02 20:21] wlynch opened #154 "Add tkn task"
We should add a task for calling [tkn](https://github.com/tektoncd/cli).

/assign wlynch

[2019-12-02 20:21] wlynch commented on #154
/label feature
/assign wlynch

[2019-12-02 20:22] wlynch commented on #154
/kind feature

[2019-12-03 08:31] chmouel opened #156 "Catalog tests should not be looping in case of failures"
# Expected Behavior

Fail when there is a failure, not looping around waiting that it will work.

# Actual Behavior

loop forever i.e:

https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_catalog/141/pull-tekton-catalog-integration-tests/1198977337878646785/build-log.txt

/kind bug
/assign
/cc @nikhil-thomas

[2019-12-03 09:41] #156 closed

[2019-12-04 11:07] #154 closed

[2019-12-04 12:49] nikhil-thomas opened #158 "Improvements for Maven Task"
# Motivation

The current maven task is simple. Based on @rhuss comment there is scope for more features in the Task. (ref: https://github.com/tektoncd/catalog/pull/141#pullrequestreview-321499101)

summary from the comment

Support for running a local mvnw which is part of a project
Proxy support
More ways to influence settings.xml, e.g. to add credentials for accessing servers (e.g. for signing

[2019-12-04 13:05] chmouel commented on #158
/kind feature

[2019-12-16 21:48] mattysweeps opened #160 "Buildpacks Task should support the platform directory"
# Expected Behavior

User variable are stored as files in `/$platform_dir/env/` so buildpacks can utilize them.

# Actual Behavior

`$platform_dir` is never set, so the lifecycle binaries choose the default value `/platform`. However, `/platform` is not a configurable volume mount.

# Additional Info

See https://github.com/buildpacks/spec/blob/master/buildpack.md#detectiona

[2019-12-16 23:20] poy opened #161 "Buildpacks: bypass detect step"
# Expected Behavior
There should be a way for a user to set the desired buildpack and skip the detection work. I wouldn't expect the Tekton step as a whole to be skipped, however I would expect it to take in my input and make it a no-op.

The `pack` CLI has the option to do this when building images:

[code]

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-12-17 09:43] vdemeester commented on #161
/kind feature

[2019-12-17 09:44] vdemeester commented on #160
/kind bug

[2019-12-22 14:21] #147 closed

[2019-12-23 13:58] danielhelfand opened #163 "Change Install Instructions to Use tkn Instead of kubectl"
The [install instructions](https://github.com/tektoncd/catalog/tree/master/gcloud#install-the-task) for tasks in this repository recommend the use of `kubectl apply` to create tasks. A big challenge as part of the CLI project has been trying to give users an experience with `tkn` that limits the use of switching back and forth between `tkn` and `kubectl`. As part of this effort, I think it would m

[2019-12-23 16:12] vdemeester commented on #163
We may also want to add some tests with `tkn` in there ?
/cc @chmouel

[2020-01-28 13:27] sbwsg opened #169 "Integrate workspaces in to catalog tasks"
# Expected Behavior

Somewhat related to [the issue to create tasks that can be used in place of pipeline resources](https://github.com/tektoncd/catalog/issues/95) is that of adding workspace support to the tasks in the catalog.

If we enable each task to accept a workspace then it will provide a slightly easier way to get files into / out of tasks without the user having to do quite so many backf

[2020-01-28 13:33] vdemeester commented on #169
/kind feature

[2020-01-28 14:02] gmarcy opened #170 "Add CONTEXT to enable building projects in subfolders of a workspace"
Currently, the context of a workspace is hard-wired to '.', which makes it awkward to have the folder containing the artifacts anywhere but the root of the workspace.  Adding a CONTEXT parameter to the buildah task would provide greater flexibility.

[2020-01-28 14:06] vdemeester commented on #170
/kind feature

[2020-01-29 18:22] cmoulliard opened #172 "Tekton jib-maven fails to push image to the internal docker registry"
# Expected Behavior

Image built by jib maven plugin should be piushed to the internal docker registry -> `docker-registry.default.svc:5000/test/sb-image`

# Actual Behavior

Error reported
[code]

# Steps to Reproduce the Problem

1. Git clone https://github.com/halkyonio/container-images
2. cd container-images/tekton/jib
3. Deploy the resources as described here: https://github.com/halkyonio/con

[2020-01-29 19:07] cmoulliard commented on #172
That will fail too if we pass this system property `-DsendCredentialsOverHttp=true`
[code]

[2020-01-30 06:35] chmouel commented on #172
Since this a platform specific issue with the tool (jib) and not the task and you seem to have taken the issue there I am going to close this here...

/close

[2020-01-30 06:35] #172 closed

[2020-01-30 09:28] cmoulliard commented on #172
FYI and if your are interested about the issue which prevents to use for the moment JIB + Tekton wityh internal docker registry on ocp -> https://github.com/GoogleContainerTools/jib/issues/2258#issuecomment-580143977

[2020-02-05 11:19] chmouel opened #176 "Provide an official tkn container image"
We currently use this image on the `tkn` catalog task :

gcr.io/tekton-releases/dogfooding/tkn

which is build on the plumbing repo :

https://github.com/tektoncd/plumbing/blob/master/tekton/images/tkn/Dockerfile

should we start to `own` our images to be released at release time? with some proper tags and such ?

cc @vdemeester @afrittoli

[2020-02-05 11:19] #176 closed

[2020-02-06 10:46] maheshwarishikha opened #177 "kaniko: image push on OpenShift fails - UNAUTHORIZED: authentication required"
# Expected Behavior
I am using Kaniko task for image build and push. Configured taskrun as suggested. But it fails with error:
error checking push permissions -- make sure you entered the correct tag name, and that you are authenticated correctly, and try again: checking push permission for "docker-registry-default.xx.xxx.appdomain.cloud/tektonpipeline/imagename:latest": UNAUTHORIZED: authenticati

[2020-02-06 14:26] chmouel commented on #177
you need to give the serviceAccount the role to be able to push to the internal registry, ie :

[code]

And just FYI  the openshift mailing list would probably be a better place for those kind of questions :  http://lists.openshift.redhat.com/openshiftmm/listinfo/users

[2020-02-07 10:28] maheshwarishikha commented on #177
@chmouel, Thanks.

This oc adm policy - did not work for me.
I think...I need to find out a way to provide secret for service account.

[2020-02-07 16:59] sbose78 commented on #151
So, this works:
`docker pull cloudfoundry/cnb:bionic`

[2020-02-07 18:38] chmouel commented on #177
`kubectl edit sa thenameofthesa` and add it to the in the `secrets` sections i.e:

there is quite a bit of documentation on the web about it that explains it further..

[2020-02-10 14:13] ameyer-pivotal commented on #151
@kinkerl That builder was just an example, not a real builder. We're updating this task to conform to a later builder. Try out the task in https://github.com/tektoncd/catalog/pull/175.

[2020-02-13 16:59] sbwsg commented on #169
I've started adding workspace and result support to the git fetch task in the catalog: https://github.com/tektoncd/catalog/compare/master...sbwsg:update-git-task-to-include-all-resource-params

[2020-02-13 16:59] sbwsg commented on #169
/assign

[2020-02-16 18:30] anxinyf opened #184 "Buildpack export step runs for a long time"
# Expected Behavior
Export step runs quickly(succeed or failed).

# Actual Behavior
![image](https://user-images.githubusercontent.com/37263263/74609556-1e77db80-5126-11ea-86a4-05f41d5bdbbd.png)

I run buildpack with tekton( tekton/catalog/buildpacks). Every time export step runs for a long time, about 10 mins. So uncomfortable.

# Steps to Reproduce the Problem

1. With right to access docker rep

[2020-02-18 14:17] chmouel commented on #139
/close

[2020-02-18 14:17] #139 closed

[2020-02-18 18:45] sbwsg commented on #95
Another part of this that we'll need to think about is that currently the PipelineResources have their credentials initialized using Pipeline's [creds-init image](https://github.com/tektoncd/pipeline/tree/master/cmd/creds-init).

@bobcatfish and I were talking about this a bit last week / a few weeks ago.  Maybe we could offer up creds-init as its own Task to ease migration off of PipelineResource

[2020-02-18 20:27] jromero commented on #151
@vdemeester This should be resolved.

@kinkerl let us know if that is incorrect.

[2020-02-19 07:51] vdemeester commented on #151
Ah I see #175 refered this issue :angel:
/close

[2020-02-19 07:51] #151 closed

[2020-02-20 00:44] ssvinoth22 opened #189 "Issue in connecting with AWS ECR docker registry"
# Expected Behavior
Even after providing docker config and aws credentials
# Actual Behavior
Default buildkit image is not supporting ECR credentials
Error:
 importing cache manifest from 202264371959.dkr.ecr.ap-northeast-1.amazon...#1 ERROR: rpc error: code = Unknown desc = error getting credentials - err: exec: "docker-credential-ecr-login": executable file not found in $PATH, out: ``
# Steps to

[2020-02-20 11:42] maheshwarishikha commented on #177
Followed this - https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/  - created regcred and referred the same in serviceaccount.yaml

It worked for me. Hence closing the issue. Thanks.

[2020-02-20 11:42] #177 closed

[2020-02-20 11:50] maheshwarishikha opened #190 "kaniko - pushing into Openshift docker registry fails"
# Expected Behavior
Using kaniko task, if I build and push my repository - it should be successful.

# Actual Behavior
Using kaniko task, if I build and push my repository - build is successful but push is failing with following error:
error pushing image: failed to push to destination docker-registry-default.xxx/tekton-trial/sample-app:latest: unsupported status code 504; body: <html><body><h1>50

[2020-02-21 19:24] ameyer-pivotal opened #191 "Task for Cloud Native Buildpacks does not pass `cache-dir` to `analyze` step"
This issue is mostly for tracking purposes. We'll create a PR to address this.

In the buildpacks task, the `analyze` step is missing a `cache-dir` argument, whose value should be set to `"-cache-dir=/cache"`. Additionally, that step would need a volume mount for the cache:
[code]

[2020-02-22 05:53] chmouel commented on #191
/kind feature
/assign @ameyer-pivotal

[2020-02-24 15:56] jromero commented on #191
/label area/buildpacks

[2020-02-24 15:57] jromero commented on #191
/area buildpacks

[2020-02-25 14:05] jromero opened #194 "Update buildpacks to Platform API 0.3"
The [upcoming version of the lifecycle](https://github.com/buildpacks/lifecycle/milestone/9) is to include some changes to the platform API. This will require some modifications to the buildpacks task to be compatible with the latest version.

[2020-02-25 14:05] jromero commented on #194
/area buildpacks

[2020-02-25 14:05] jromero commented on #194
/assign @jromero

[2020-02-25 21:31] danielhelfand commented on #163
Going to close this as I think there is work to be done still for create/update approaches with `tkn`.

[2020-02-25 21:31] #163 closed

[2020-02-26 04:20] #191 closed

[2020-02-26 13:09] MarckK commented on #131
I ran into this as well.

It would be great to have a Bazel task. :)

[2020-02-27 07:30] piyush-garg opened #197 "Buildpacks task fails on OpenShift"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Use the steps mentioned in readme

Logs
[code]

# Additional Info

[2020-02-27 07:31] piyush-garg opened #198 "Jib-gradle not working on OpenShift"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Use the steps mentioned in readme

Logs
[code]

# Additional Info

[2020-02-27 18:41] sbwsg opened #201 "git-clone Doesn't support authenticated requests to git repos out of the box"
# Expected Behavior

The git-clone task provided by the catalog should have a clear path for supporting authenticated requests to repositories.  The Git Resource that the git-clone task is taken from relied on the creds-init binary to ensure that the .ssh folder was populated correctly before its own steps ran.  See the code for creds-init here: https://github.com/tektoncd/pipeline/blob/master/cmd

[2020-02-27 18:41] sbwsg commented on #201
/assign

[2020-02-27 20:08] sbwsg commented on #201
Addendum: It looks like the creds-init binary / container *does* run if a service account is attached.  See code in pkg/pod/pod.go here: https://github.com/tektoncd/pipeline/blob/master/pkg/pod/pod.go#L89-L95 and the actual creds init package here: https://github.com/tektoncd/pipeline/blob/9b1ec33f77d24afbeac27ea0d0b4aeeac65cdd2b/pkg/pod/creds_init.go#L39

So I think this *should* work with the gi

[2020-02-28 05:10] hrishin opened #202 "Add context parameter to buildah"
# Expected Behavior
Add `context`  parameter along with `Dockerfile` parameter.

# Actual Behavior
Right now `Task` accepts only `Dockerfile` parameter

/kind feature

[2020-02-28 06:32] piyush-garg commented on #170
As PR #171 has been merged, closing this/

/close

[2020-02-28 06:32] #170 closed

[2020-02-28 06:33] piyush-garg commented on #202
Duplicate of #112  and #170 Also the PR #171 is merged do you mean something else?

[2020-02-28 06:33] piyush-garg commented on #112
Duplicate of #170

[2020-02-28 06:38] hrishin commented on #202
/close

[2020-02-28 06:38] #202 closed

[2020-02-28 07:59] #197 closed

[2020-02-28 08:07] vdemeester commented on #112
/close

[2020-02-28 08:07] #112 closed

[2020-02-28 08:08] vdemeester commented on #201
/kind feature

I do agree on the unintuitiveness of the implicit auth

[2020-03-02 16:53] vdemeester commented on #198
We need to test this task (and overall *all*) with non-root, and be able to flag those that needs to be executed as root and those that do not.

One easy fix to this one would be to add a `securityContext` to `runAsRoot` :sweat:

/cc @loosebazooka @chanseokoh

[2020-03-02 17:22] chanseokoh commented on #198
I'd like to understand the root cause and why something breaks. Java applications (Maven, Gradle, and Jib) depend heavily on the user home directory, which changes as the user running the image changes. Note that we currently force `/home/tekton` as a "home" directory in the JVM due to https://github.com/tektoncd/pipeline/issues/2013#issuecomment-585908031 (which is going to be fixed soon), but on

[2020-03-03 10:41] vdemeester opened #206 "Migrate to v1beta1"
We hould migrate the catalog to `v1beta1`, *as soon as* the 0.11 first release candidate is available.

This means:
- Using `v1beta1` API for `Task` (and `TaskRun` example)
  - migrate `inputs.resources` to `resources.inputs`
  - migrate `outputs.resources` to `resources.outputs`
  - migrate `inputs.params` to `params`
- Provide *supported* version of the `Task` (aka without using `resources`) in

[2020-03-03 13:56] vdemeester commented on #206
Let's go for
- pre-0.11 release : a `v1beta1-wip` branch
- post-0.11 release: a `v1alpha1-support` branch (for a little while)

I've created the [`v1beta1-wip`](https://github.com/tektoncd/catalog/tree/v1beta1-wip) branch, so *any* PR related to `v1beta1` should use this branch as a base :angel:

[2020-03-04 15:02] #148 closed

[2020-03-05 04:36] piyush-garg commented on #198
It again failed on our CI

[code]

Is it possible to have something working i.e. task before implementing caching as this one is not working and even the flag is not the right fix as you said.Sorry I dont have much idea about gradle, can we do something else to get it fixed, above are the log?

The above issue you are mentioning will be fixed by 0.12 hopefully.

[2020-03-05 17:26] chanseokoh commented on #198
For now, I think you can plug in a writable volume for [`CACHE`](https://github.com/tektoncd/catalog/blob/04e06c76e48a5247f18e133e11bd1396fff1b88d/jib-gradle/jib-gradle.yaml#L12).

[2020-03-06 14:35] piyush-garg commented on #198
@chanseokoh I tried a RwadWriteOnce volume and it still fails

[2020-03-06 16:13] piyush-garg commented on #198
I tried ReadWriteMany and that also fails with the same error @chanseokoh @vdemeester

[2020-03-06 16:18] chanseokoh commented on #198
I think the underlying issue is a [permission problem](https://github.com/gradle/gradle/issues/8107#issuecomment-449590971). That is, Gradle tries to create `~/.gradle` (which I believe should be `/home/tekton/.gradle`), but perhaps it cannot create the directory as it is running as a non-root.

Given that, what would be an option you think of to make this work on the OpenShift side?

[2020-03-06 16:22] chanseokoh commented on #198
In the meantime, I will do some experiments, but this issue is heavily related to the Tekton HOME issue (https://github.com/tektoncd/pipeline/issues/2013 and https://github.com/tektoncd/pipeline/issues/2165). It may take some time for the Tekton devs and me to sort this out. I'll keep looking into it.

[2020-03-06 16:53] piyush-garg commented on #198
We can run the pod as root that can be done @vdemeester WDYT?

[2020-03-06 18:31] piyush-garg commented on #198
@chanseokoh @vdemeester I have raised #214 please have a look.

[2020-03-09 04:20] #198 closed

[2020-03-11 15:58] kimsterv opened #217 "Add a task for OSS-Fuzz"
Provide a task that integrates with [OSS-fuzz](https://github.com/google/oss-fuzz) to uncover program errors.

For reference:
https://google.github.io/oss-fuzz/getting-started/continuous-integration/

[2020-03-15 14:16] joachimprinzbach opened #221 "Support buildah --format=docker option for non OCI compliant registries"
# Expected Behavior
Buildah `Task` should support the [buildah --format option](https://github.com/containers/buildah/blob/master/docs/tutorials/03-on-build.md#using-onbuild-in-buildah) to be able to set it to 'docker' in order to push to registries that are not supporting OCI yet (e.g. harbor, see https://github.com/goharbor/harbor/issues/8268).

Add a `FORMAT` param to the buildah `Task` so user

[2020-03-16 08:42] #221 closed

[2020-03-17 10:10] jace-ys opened #224 "git-clone tutorial failing"
# Expected Behavior

Running the [git-clone tutorial](https://github.com/tektoncd/catalog/tree/master/git) should see the PipelineRun for `cat-pipeline-readme-run` succeed.

# Actual Behavior

The actual repository cloning succeeds, but an unknown `$(results.commit.path)` causes the PipelineRun to fail instead.

Logs from PipelineRun:
[code]

I see that there's some work going on for the `git-clon

[2020-03-17 12:01] sbwsg commented on #224
Thanks for the issue report and apologies for confusion caused by lack of documentation here.  The `git-clone` Task was recently updated to support a new feature of Tekton Pipelines called `"resource results"`.  This feature allows Tasks, like `git-clone`, to report on data from the execution (like which git commit SHA was cloned).  That feature only got released in Pipelines 0.11.

In order to us

[2020-03-17 13:14] jace-ys commented on #224
I see, should have seen that coming! Unfortunately I don't operate the Kubernetes cluster, so I won't be able to upgrade it for Pipeline 0.11. Will have a look at the earlier docs, thanks for pointing them out!

Feel free to close this issue.

[2020-03-17 13:19] sbwsg commented on #224
/close

[2020-03-17 13:20] #224 closed

[2020-03-18 04:27] mattmoor opened #226 "kaniko version is 5 releases behind latest version"
The kaniko template is using the 0.13 tag, but I see a 0.18 tag pushed 2 weeks ago.

[2020-03-18 17:53] holly-cummins opened #228 "git-clone fails with results.commit.path: not found"
# Expected Behavior

I'm seeing unexpected errors in the execution of a git-clone task.

# Actual Behavior

The task execution fails with the following error:
[code]
# Steps to Reproduce the Problem

This is the relevant snippet of my `pipeline.yml`:

[code]

# Additional Info

I've done a local workaround by commenting out line 40.

[2020-03-18 18:08] sbwsg commented on #228
Are you on pipelines 0.10 or below?  This is probably the same problem as mentioned here: https://github.com/tektoncd/catalog/issues/224#issuecomment-600032962

The git-clone task is only compatible with 0.11.  I've added a comment to the readme to indicate this but we also plan to introduce some kind of versioning scheme so that this is more obvious for users going forward.  Apologies for the con

[2020-03-18 18:08] #228 closed

[2020-03-18 19:09] holly-cummins commented on #228
I agree this is the same issue - I'd checked the existing issues but obviously not carefully enough (and #224 doesn't seem to have been indexed by search engines yet). Thanks for the pointer!

[2020-03-19 14:41] bitsofinfo opened #229 "Docs: git-clone: provide information about git credentials/ssh key/config etc"
Would be good to provide some info in this doc about how/where to specify the git credentials (private key) etc when using this: I know that w/ the old PipelineResource its based on some special annotation on a secret... but its not clear what it would be going forward as this is now offered as a replacement in the beta.

https://github.com/tektoncd/catalog/tree/master/git

[2020-03-19 17:00] sbwsg commented on #229
You're right - we should document this as part of git-clone.  The very quick answer is that the git-clone Task supports exactly the same auth mechanism as the git PipelineResource does.  So following instructions from auth.md should get credentials into the right places for both pipeline resources and tasks.

[2020-03-20 17:51] afrittoli opened #233 "Task(s) to manage kubernets resources in a cluster"
# Feature description
In the context of MLOps, but most likely also beyond that, it's a common use case to create / update / delete kubernetes resources as part of a Tekton pipeline.

The proposal here is to have a task or set of tasks in the catalog that would define a standard way of doing that in Tekton, which a clear and re-usable interface.

Inputs would be:
1. The resource meta, including ty

[2020-03-20 19:04] natalieparellano commented on #194
@ekcasey do you think this task should be updated to use `creator`?
___
Notes:

Platform API 0.3 comes with the following changes:

* Added support for project-metadata.toml. ([#230](https://github.com/buildpacks/lifecycle/pull/230))
* Added support for /lifecycle/creator. ([#243](https://github.com/buildpacks/lifecycle/pull/243))
* Added support for -process-type flag. ([#260](https://github.com/

[2020-03-23 08:30] vdemeester commented on #233
/kind feature

[2020-03-23 08:30] vdemeester commented on #233
@afrittoli should this issue take over https://github.com/tektoncd/catalog/issues/37 ? :upside_down_face:

[2020-03-23 08:30] vdemeester commented on #37
/kind feature

[2020-03-23 10:56] afrittoli commented on #233
Oh, I. missed that one :)

We, we could do that. I guess for deployments we might also have tasks that support provisioning a set of resources at once, so everything that is needed to deploy a service (including deployment, configmap, secrets, ingress etc).

[2020-03-23 16:34] #226 closed

[2020-03-23 19:15] natalieparellano commented on #194
Currently, it seems that secrets are provided to every step in the lifecycle. E.g.,

* When I create a secret, a service account with that secret, and reference the service account according to [these docs](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#basic-authentication-git)
* And I modify my buildpack's `bin/detect` and `bin/build` to `cat ~/.git-credentials`
* And I run the ta

[2020-03-23 20:53] ckadner commented on #233
In order to streamline that implementation from a [KFP-Tekton compiler](https://github.com/kubeflow/kfp-tekton/issues/49) perspective, we would like to follow the precedence laid out by Argo's ResourceTemplate, and create a Tekton Task with the following parameters:

- `action`: `['get', 'create', 'apply', 'delete', 'replace', 'patch']` -- the action to perform to the resource
- `merge_strategy`:

[2020-03-23 22:32] animeshsingh commented on #233
@vincent-pli @vdemeester @afrittoli this is a high priority requirement coming from our internal product teams. Would be good to know how can we get this prioritized? I have also discussed these with the OpenShift pipelines team, the relevance and importance of the work effort.

[2020-03-24 01:21] mattmoor opened #235 "Update kaniko when 0.20 is released"
This PR fixes kaniko on EKS publishing to ECR with Tekton: https://github.com/GoogleContainerTools/kaniko/pull/1146

Just wanted to open an issue to track that.

[2020-03-24 06:13] vdemeester commented on #235
@mattmoor the catalog now tracks `latest` by default, so, it will pick up 0.20 when it's released (or you can force the image version through params)

[2020-03-24 06:18] vdemeester commented on #37
Closing in favor of #233

[2020-03-24 06:18] #37 closed

[2020-03-24 08:53] vincent-pli commented on #233
Could we just use image with `kubectl` and use `workspace` to mount related yaml files to the task, then make path of the yaml file as parameter then define `create`, `delete` as args...

[2020-03-24 14:45] mattmoor commented on #235
sweet!
/close

[2020-03-24 14:45] #235 closed

[2020-03-24 21:27] ckadner commented on #233
We want to use the new "ResourceTask" via a `taskRef` in our pipelines and provide the manifest YAML as a `string` parameter without having to create files workspaces file mounts etc.

For implementing the task, I think a `kubectl` wrapper image would be okay. Especially from a maintenance point of view since anyone working with Kubernetes would be able to understand the commands, fix issues, try

[2020-03-24 23:09] ckadner commented on #233
A quick searching of DockerHub brings up this `kubectl` image that looks promising and has 10M+ pulls (Apache 2.0 license):
- https://hub.docker.com/r/bitnami/kubectl/

There are also a few recipes to cook up a custom `kubectl` image:
- https://itnext.io/portable-kubernetes-management-with-kubectl-in-docker-cb861a2c3c02

[2020-03-24 23:44] vincent-pli commented on #233
@ckadner
and this one:
https://github.com/tektoncd/catalog/blob/270c8330d3108dd44d97640a525f2e487ac7dbb7/knctl/knctl-deploy.yaml#L16

[2020-03-24 23:46] Tomcli commented on #233
In Argo it was done in the controller since they already have [kubectl](https://github.com/argoproj/argo/blob/master/Dockerfile) binary in the controller image.
https://github.com/argoproj/argo/blob/master/workflow/executor/resource.go#L22-L76

[2020-03-24 23:48] Tomcli commented on #233
After we create/delete the resource, we also need to return a status to tell whether this is up running/deleted.

[2020-03-25 00:02] vincent-pli commented on #233
@Tomcli
I think a `kubectl` wrapper could satisfy you with some extra work.
for example:

- Create a pod, stuck until the pod is running:
   you need extra loop to watch the status of pod.
- Create a pod, stuck until the pod complete and make decision base on output of the pod:
  then you could mount the same pvc (from the `workspace`) to the new created pod...

[2020-03-25 06:57] animeshsingh commented on #233
@vincent-pli is this something you want to take forward? Get this pushed in tekton, and we can leverage it as part of KFP?

[2020-03-25 08:15] vincent-pli commented on #233
@animeshsingh
OK, I think I can make pr for `kubectl` wrapped example but no loop monitoring as @Tomcli  mentioned.

[2020-03-25 12:32] bobcatfish opened #238 "Add proxy support to git resource"
# Expected Behavior

All functionality exposed by the `git-init` image should be available through the git task.

# Actual Behavior

https://github.com/tektoncd/pipeline/pull/2215 added support for proxies to the git PipelineResource but this hasn't been added to the git Task yet.

[2020-03-25 12:34] sbwsg commented on #238
Fixed by https://github.com/tektoncd/catalog/pull/231 I think?

[2020-03-25 12:44] kameshsampath opened #239 "Add Option Resource support to OpenShift Client Task"
# Expected Behavior
Currently the OpenShift Client task does not have `input` resources.  Having input resources helps in applying manifests from the sources like here https://github.com/tektoncd/pipeline/blob/master/examples/v1alpha1/pipelineruns/demo-optional-resources.yaml#L68

# Actual Behavior
Unable to apply manifests from the input source  using openshift-client task

Try using openshift-cl

[2020-03-25 12:44] kameshsampath commented on #239
@piyush-garg @nikhil-thomas  ^^

[2020-03-25 23:32] vincent-pli commented on #233
#237

[2020-03-26 00:28] ckadner commented on #233
Thanks for your PR @vincent-pli. I just took a quick look, but I only saw one parameter `resource`. Ideally we would need 4 more as I described in my comment  above:

https://github.com/tektoncd/catalog/issues/233#issuecomment-602850205

- `action`: `['get', 'create', 'apply', 'delete', 'replace', 'patch']` -- the action to perform to the resource
- `merge_strategy`: `['strategic', 'merge', 'json'

[2020-03-31 08:10] #239 closed

[2020-04-01 06:51] vincent-pli commented on #233
@ckadner

Sorry for delay, involved in a tough project.
The function you mentioned is correct and needed for a complete kubernete resource hendler features, it's too complex to just with script and yml, I think it should be a pre-prepared image.

Whatever, I will dig into and check if i can found something.

[2020-04-07 20:49] holly-cummins opened #265 "Buildah task would be faster with `--no-cache` than `--layers`"
# Expected Behavior

The buildah task should have the optimum arguments to go fast in a CI/CD environment.

# Actual Behavior

I can improve buildah build times from ~10m to ~6m by adjusting the cache settings. I don't think investing in caching onto an ephemeral volume is likely to be the right behaviour for most scenarios; even with my multi-stage build performance is faster without the laters.

[2020-04-08 06:03] vdemeester commented on #265
/kind feature

[2020-04-08 07:03] holly-cummins commented on #265
I'm happy to put in a PR for this if there's not a good reason to keep using `--layers`.

[2020-04-08 09:57] vdemeester commented on #265
@holly-cummins I think we should make the `varlibcontainer` volume a workspace, allowing the users to provide a PVC or something else in order to make it more useful. We could also have an option to disable cache (and thus not using `--layers`)

[2020-04-08 12:17] holly-cummins commented on #265
Using a workspace was my first thought as well. . I did experiment with providing a PVC in the varlibcontainer, but there were two problems.
* Buildah played very badly with most PVs. I don't have enough storage expertise to debug fully, but what I found was that file storage PVs were so slow that a 10m build would take 5-10 hours. Block storage behaved better, but the lack of parallelism is no go

[2020-04-08 12:41] vdemeester commented on #265
@holly-cummins ah make sense :) thanks for the explaination. Let's remove `--layers` and the volume for now then :wink:

[2020-04-08 12:43] vdemeester commented on #265
/assign @holly-cummins

[2020-04-09 00:04] 2020testuser opened #267 ""git-clone" not found"
# Expected Behavior
No errors when the log for pipelinerun is checked.
# Actual Behavior
When I run the below command, I get an error.

tkn pipelinerun logs jib-gradle-test-pipeline-run
Pipeline tekton-test/jib-gradle-test-pipeline can't be Run; it contains Tasks that don't exist: Couldn't retrieve Task "git-clone": task.tekton.dev "git-clone" not found
# Steps to Reproduce the Problem

1. Run the

[2020-04-09 00:36] 2020testuser opened #268 "Build using gradle"
# Expected Behavior
Using company docker registry and gradle to do the build in Tekton works as expected.

# Actual Behavior
Using company docker registry and gradle to do the build , results in an error. Simply involving the build.gradle content as a script in Tekton task.
# Steps to Reproduce the Problem

1.  Took a copy of  /catalog/gradle Task and modified it to include my build.gradle content

[2020-04-10 02:02] srethira commented on #239
@kameshsampath I ran into same limitation while running tekton in openshift v3.11. Is this feature available now ?

[2020-04-10 02:12] kameshsampath commented on #239
It is merged now in to Tekton Catalog

-Kamesh
________________________________
From: srethira <notifications@github.com>
Sent: Friday, April 10, 2020 7:32 AM
To: tektoncd/catalog <catalog@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [tektoncd/catalog] Add Option Resource support to OpenShift Client Task (#239)

@kameshsampa

[2020-04-14 12:32] sbwsg commented on #267
`kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/v1beta1/git/git-clone.yaml` should resolve this problem.

This is done in jib-gradle's pre-apply-task-hook.sh: https://github.com/tektoncd/catalog/blob/v1beta1/jib-gradle/tests/pre-apply-task-hook.sh

[2020-04-14 21:25] ryanewk opened #275 "git-clone: some param values are inadvertently ignored"
# Expected Behavior

Using the `git-clone` task, with the following params:

[code]

The task should not fail if the underlying git repository's https server is
using an untrusted self-signed certificate, it should not attempt to fetch
submodules, and it should fetch 2 commits.

# Actual Behavior

None of the above param values take effect - the default values are used.
The task will fail if there

[2020-04-15 01:08] Tomcli commented on #233
Thanks @vincent-pli, maybe you can add you kubeclient task for this? We still have some edge cases for the results that we love to have support such as https://github.com/kubeflow/kfp-tekton/issues/94

[2020-04-15 03:21] vincent-pli commented on #233
Thanks @Tomcli , I add some draft code to address your requirement, please check that:https://github.com/vincent-pli/kubectl-wrapper

[2020-04-15 06:19] vdemeester commented on #275
/kind bug

[2020-04-15 08:05] #275 closed

[2020-04-15 11:16] sbwsg commented on #275
Thanks for fixing that so quickly!

[2020-04-15 23:13] animeshsingh commented on #233
thanks folks - @vincent-pli great to see this coming in as a PR soon

[2020-04-16 00:46] test2016new commented on #267
Ohh, missed it. No wonder it didn't work. Thanks Much!

[2020-04-16 09:48] vdemeester commented on #206
We can close this now :tada:
/close

[2020-04-16 09:48] #206 closed

[2020-04-17 14:13] #194 closed

[2020-04-17 14:27] 2020testuser commented on #268
Sorry. My mistake. The docker mount path was incorrect. Took a while to figure it out. I used MAC's docker path in the mount volume instead of Ubuntu's path. The docker path was not the same. Closing this as this is not an issue.

[2020-04-17 14:27] #268 closed

[2020-04-17 20:09] bobcatfish commented on #268
No problem at all! Glad you figured it out @2020testuser :D

[2020-04-18 09:00] ad22 opened #281 "Project recommendation: best practices for writing new tasks?"
Looking for maintainer guidance on the following options for writing new tasks:

1. Use shell via already available images when possible? Should there be a limit to this approach?
PS: Personally not a fan of this approach, It can get fairly unwieldy to maintain, very quickly. Another con, `ash` used by the alpine image is not as fully featured as bash.

2. Publish docker images w/ pre-built binary

[2020-04-20 14:50] sbwsg commented on #267
That function, `add_sidecar_registry` is part of [e2e-common.sh](https://github.com/tektoncd/catalog/blob/v1beta1/test/e2e-common.sh#L26-L33) and all it does is update the file pointed at by `TMPF` with an extra `spec.sidecars` entry for the registry docker image.  So it's a path to a file but I'm not sure what file to provide it.  @chmouel or @vdemeester might be able to give more info on its usa

[2020-04-20 14:50] #267 closed

[2020-04-20 21:52] GregDritschler opened #285 "kaniko image digest result does not work"
# Expected Behavior

The kaniko task defines a task result called IMAGE_DIGEST that holds the digest of the new image.  A pipeline author can use the result as a parameter value in a subsequent task using the syntax $(tasks.xxx.results.IMAGE_DIGEST).

# Actual Behavior

The parameter value is not substituted with the digest.  The result reference $(tasks.xxx.results.IMAGE_DIGEST) is passed as-is t

[2020-04-21 07:58] vdemeester commented on #285
/kind bug

[2020-04-21 11:48] sbwsg commented on #285
At the very least validation should be catching this when the Task is applied.  Created https://github.com/tektoncd/pipeline/issues/2454

[2020-04-22 17:51] ImJasonH commented on #281
Thanks for bringing this up!

I think this is the main point against using `script:` heavily. If you're writing more than a handful of lines of Bash (or Python, or Go, or anything), you probably want to be able to test it, or at least run it in isolation outside of Tekton, and inlining everything in a `script:` makes that impossible.

`script:` is ideal for short one-liners, often using core tools

[2020-04-22 18:43] 2020testuser opened #289 "Gradle Jib - Run as root user?"
Does Tekton Gradle Jib need to be run as user? I need to deploy the Jib Gradle built application in Kubernetes in its own Pod. So, if I run the Gradle build task as root -user, when I deploy using Tekton Pipeline in Kubernetes, because of enabled Pod RBAC, my deployment will fail.

Could anyone please provide more insight on this? Is using a ServiceAccount solve the issue?

Also, to push to the or

[2020-04-24 00:02] 2020testuser commented on #229
Trying to understand as will be using git clone. I don't need runAsUser - root in the task yaml if I use ServiceAccount in the pipeline?
Could you please provide more details on the security side as planning to use jib gradle and want to make sure it works with the service account and user-root is not needed.

Thanks!

[2020-04-24 08:34] #285 closed

[2020-04-24 13:18] bobcatfish commented on #281
I'm gonna dump some things in here as I notice them.

In https://github.com/tektoncd/catalog/pull/287 I noticed that we should recommend using workspaces (and eventually credentials! 😉  @sbwsg ) instead of volumes + volumemounts

[2020-04-27 18:17] 2020testuser commented on #289
Could someone reply to the above please ? (if you have the info.)Thanks!

[2020-04-28 08:52] vdemeester commented on #289
Didn't dig too deep but https://github.com/tektoncd/catalog/pull/214. On OpenShift, jib had to be root to run, but I think it's something related to `gradle` and `$HOME` (and where gradle stores stuff)

[2020-04-29 15:54] chanseokoh commented on #289
Note that the root cause of the issue #214 is from Gradle, not Jib. Running Gradle (even without Jib) does need to write some Gradle stuff (like Java JAR artifacts downloaded for caching), but the directory at `/tekton/home` (hence `/tekton/home/.gradle`) supplied by Tekton cannot be written by a non-root user.

BTW, I know there's a [plan to remove `/tekton/home`](https://github.com/tektoncd/cata

[2020-04-30 04:07] 2020testuser commented on #289
Thanks Much for the explanation.Getting to understand the original cause of the issue. Could you please let me know whether the below  would solve the problem for now?

1. How about using a ServiceAccount for my PipelineRun and that ServiceAccount will have access to the Persistent Volume Claim used by the PipelineRun. Came across use of Service Account in one of the issue posts.

Since, the volum

[2020-04-30 14:39] chanseokoh commented on #289
Before I explain other things, I think this is what's happening to you.

1. Your `gradle:4.6` Tekton Task probably runs as user `1000:1000` (assuming you didn't use `runAsUser` in a Tekton Task spec to override it as a different user), because the image `gradle:4.6` itself is configured to run it that way.
2. When you run `gradle`, it needs to create a "Gradle User Home" directory (usually `$HOME/

[2020-04-30 15:21] 2020testuser commented on #289
Every time I read your explanation , I'm learning something new  . Thanks Much! I'm using PersistentVolumeClaim now. Will try the above and do testing . Will keep posted on the findings. Thanks again!

[2020-04-30 15:26] chanseokoh commented on #289
Great. And, actually, just realized it should be `--gradle-user-home=/workspace/.gradle` instead of just `/workspace`.

[2020-04-30 22:11] 2020testuser commented on #289
Finally, I was able to get it working. Appreciate all your inputs.  Thanks a lot!

[2020-04-30 22:11] #289 closed

[2020-04-30 23:17] 2020testuser opened #296 "Skip /.snapshot directory during deletion in git example"
# Expected Behavior
The git-clone.yaml in /git works great. The /.snapshot need to be skipped during existing volume cleanup.
# Actual Behavior
The /.snapshot is not getting deleted and the task errors out.
# Steps to Reproduce the Problem

1. Use /git in tektoncd/catalog .
2. Modify the params for git repo, revision etc. and set the param - deleteExisting = true to delete the existing content
3.

[2020-04-30 23:37] 2020testuser opened #297 "Error running git"
# Expected Behavior
The git-clone.yaml in /git works great. When the task is rerun with 'deleteExisting param set to true' , the existing folders/files must get deleted without any errors.

# Actual Behavior
When the task is rerun with 'deleteExisting param set to true' , getting the below error.

 {"level":"error","ts":xxxxx,"caller":"git/git.go:41","msg":"Error running git [remote add origin htt

[2020-05-04 20:54] natalieparellano commented on #160
On discussing this with @zmackie we see a couple ways forward:

* Allow users to mount their own `/platform` or `/platform/env`
  * This is a bit cumbersome - users would need to construct the volume and write their own `/platform/env/MY_VAR` files
* Provide some mechanism to consume a list of variables and write files to disk.
  * Prior art: kpack does it [here](https://github.com/pivotal/kpack/b

[2020-05-05 11:04] vdemeester commented on #29
Getting back on this a bit, I think, `tektoncd/catalog` shouldn't hold **any** code (including `Dockerfile`), except from it's own `test-infra` needs (makefiles, scripts, …).
Managing code release and overall lifecycle is gonna be extra work and a bit confusing in `tektoncd/catalog`. How to release just one part, when to tag a Dockerfile to a specific version, … All this is easier done in a separa

[2020-05-05 11:05] vdemeester commented on #29
This also simplifies the `test-infra` requirements / needs for the catalog : we test tasks that's all, we don't build code, we don't build images (at least none until we ship resource def as oci images).

[2020-05-05 17:22] ad22 commented on #281
Thanks @ImJasonH, that answers my main question/concern and #2 seems the best path forward with the downside that there is no centralized location for images (which I hope is reconsidered).

This line would be nice to have in recommendations.md (#288).

Feel free to use this issue for other items or close it.

[2020-05-06 17:10] sbwsg opened #305 ""Checking for forbidden licenses" CI errors"
# Expected Behavior

Our license check should work on all PRs.

# Actual Behavior

I've seen the following error in two PRs:

[code]

#273 (logs: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_catalog/273/pull-tekton-catalog-build-tests/1257952319127949312/)

#301 (logs: https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_catalog/301/pull-tekton

[2020-05-06 17:11] sbwsg commented on #305
Now apparently happening in all new PRs?  #304 also experiencing the problem.

[2020-05-06 17:30] vdemeester commented on #305
/assign

[2020-05-06 19:26] sbwsg commented on #305
Looks like this has been resolved (at least https://github.com/tektoncd/catalog/pull/304 is now passing where before it was failing with the license error)

[2020-05-06 20:55] natalieparellano commented on #160
We've submitted a PR (#302) that should go part of the way in addressing this use case. Our implementation requires the user to supply an appropriately formatted `/platform` directory with the desired `/platform/env/MY_VAR` files.

This is cumbersome, but we are hoping that the work to implement [project.toml](https://github.com/buildpacks/rfcs/blob/master/text/0019-project-descriptor.md) will eve

[2020-05-07 11:14] vdemeester commented on #305
Let's close this for now then. If it comes back, let's re-open
/close

[2020-05-07 11:55] vdemeester opened #306 "Merge v1beta1 in master (2020, 15th June)"
Now that [`v1alpha1`](https://github.com/tektoncd/catalog/tree/v1alpha1) has been created based on `master`, we should be able to merge `v1beta1` into `master` at some point.

[2020-05-07 12:26] sbwsg commented on #306
I think this will make @wlynch very happy. Questions:

- Will this mean that `master` becomes the correct place to merge new Tasks?
- And will we get rid of `v1beta1` / make `master` the default branch again?
- Seems like we might have an ongoing sync problem then where `master` and `v1beta1` are similar but not quite the same?

[2020-05-07 12:32] vdemeester commented on #306
After the merge yes.

We'll "freeze" `v1beta1` branch for a while, but yes.

Depends on what you mean by that, we will merge v1beta1 in master, so then, opened PR will need to change their `base` branch.

[2020-05-07 13:04] sbwsg commented on #306
Gotcha, getting rid of v1beta1 answers my question about the sync problem.  Deleting v1beta1 will mean there's no sync problem to keep on top of.

[2020-05-10 22:23] jlpettersson commented on #201
I hadn't seen this issue before. But I added a draft of a `git-clone-ssh` task with very explicit SSH authentication, https://github.com/tektoncd/catalog/pull/309.

I totally agree.

Every task that "reach out", e.g. doing any kind of network request to _POST data_ or _GET data_ need any kind of _authentication_. Authentication can be done with either a _serviceAccount_ (best) or _password/credent

[2020-05-11 14:09] master221 opened #312 "could not clone submodules"
# Expected Behavior
git [submodule update --recursive --depth=1]
# Actual Behavior
 /ko-app/git-init -url https://mygerritserver.com/a/myrepo -revision FETCH_HEAD -refspec '+refs/heads/mybranch:refs/remotes/origin/mybranch' -path /workspace/output/ '-sslVerify=true' '-submodules=true' -depth 2
{"level":"info","ts":1589204144.3671,"caller":"git/git.go:136","msg":"Successfully cloned https://mygerri

[2020-05-11 14:31] sbwsg commented on #201
Do you think it's strictly better to have separate Tasks based on auth or do you think that given Tekton's current state this is the best solution available?  I am still of the mind that having a good system for multiple types of credentials to be supported in a single Task is useful.  Do you think that's true or you'd prefer to always keep tasks with different auth mechanisms separated?

[2020-05-11 14:37] jlpettersson commented on #201
I agree with you. I am not sure that it is strictly better to have different tasks. Managing a **contract/interface** with multiple tasks also has a management cost.

Another case for contract/interface would be: _build-image-from-Dockerfile_ and both **buildah** and **kaniko** could implement that case.

But the most easy would be to have a single `git-clone` task as you say @sbwsg , that support

[2020-05-12 11:14] sbwsg commented on #305
It looks like the license problem is reappearing with PRs against the v1alpha1 branch: https://github.com/tektoncd/catalog/pull/314

Should we not make PRs against v1alpha1?  I guess that would be a solution to this problem too.

[2020-05-12 11:57] vdemeester commented on #305
@sbwsg hum, so in a gist I would say "yes, we should consider `v1alpha1` as read-only" :upside_down_face: (otherwise, we need to to a "plumbing bump" :stuck_out_tongue_closed_eyes:

[2020-05-12 12:02] #305 closed

[2020-05-12 13:13] sbwsg commented on #201
Wow, I had no idea that `optional` was a supported field in projected volumes!  Even looking at the [design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/all-in-one-volume.md) linked from the [official website](https://kubernetes.io/docs/concepts/storage/volumes/#projected) - the optional field is mentioned in the spec but given absolutely zero descrip

[2020-05-12 13:40] jlpettersson commented on #312
I think this was solved by https://github.com/tektoncd/pipeline/pull/2602

[2020-05-12 13:46] vdemeester commented on #312
/kind bug
@jlpettersson it is but it's not fixed on the image version used by the task :sweat_smile:

[2020-05-15 10:41] jlpettersson opened #320 "How to clone a specific commit on a specific branch with git-clone?"
# Expected Behavior

That the typical behavior for a `git-clone` in a CI-server context is documented.

Typically: `clone branch X from repository Y`

For reproducability, I would also like to have: `clone commit Z in branch X from repository Y`
e.g. so that I can re-run a failed run (e.g. flaky test), without fetching newer commits (that belong to another run)

# Actual Behavior

The [main exampl

[2020-05-15 15:58] sbwsg commented on #320
I've written up an example of checking out a specific commit here: https://github.com/tektoncd/catalog/pull/321/files#diff-66e881212302d7e2e9b8e114054b90b9

[2020-05-16 13:49] mattmoor opened #324 "kaniko task should us --digest-file"
The kaniko task uses this block to extract digest as the task result:
https://github.com/tektoncd/catalog/blob/89d86e142d1ed24f2dc2ea89b1a4160c8940d657/kaniko/kaniko.yaml#L47-L59

This *looks* like it extracts the digest post-push, which is actually racy (what if the tag moves?), and unsuitable for establishing proper provenance. 😬

So I dug a little and found that kaniko has a [`--digest-file`](h

[2020-05-16 16:15] vdemeester commented on #324
/kind feature

[2020-05-18 16:59] raffamendes opened #326 "[Request] Have a task that suports 3Scale toolbox commands"
# Feature Reaquest

The goal of this request is to have a task for executing 3Scale-toolbox.

Is this something that is interesting to develop? I develop some jenkins pipelines using 3scale-toolbox for api-management ci/cd, and I thought that maybe this would be interesting to have a task on tekton to do this.

[2020-05-18 18:22] #312 closed

[2020-05-18 18:23] piyush-garg commented on #297
This should be fixed by #327

/close

[2020-05-18 18:23] #297 closed

[2020-05-21 15:54] jlpettersson opened #331 "Add task for sending CloudEvents"
# Expected Behavior

That there is a task for sending CloudEvents.

Typical use-cases:

- Notifying that a deployment occured.
- Notifying that a `TaskRun` failed e.g. failed unit-test.
- Notifying result from a Canary Analyze

This task would be on pair with the existing Slack an Telegram-tasks, but for CloudEvents.

# Actual Behavior

I don't see this exists in Catalog

[2020-05-21 16:17] sbwsg commented on #331
/kind feature

[2020-05-21 17:31] bobcatfish commented on #331
Some context, one of the reasons this wasn't done already is that some of the CloudEvents logic in the CloudEvent PipelineResource happens in the controller vs. in the step containers like all the other PipelineResources. And one of the reasons for THAT was b/c in order to know if the currently executing Task has succeeded or failed, you had to wait until the entire thing completed (and failure wo

[2020-05-21 17:57] jlpettersson commented on #331
Right, I understand. Sounds like a mix of intern/technical events e.g. Kubernetes `Event` and "result reporting". Ah, right, it makes sense that a reporting-task will not execute if previous task failed, so such tasks must be places in `finally:`.

My intention here var purely business-oriented, e.g. letting the user know the result of a Canary-Analysis. In such case, I think this would provide va

[2020-05-27 18:35] wlynch opened #340 "Add support for prettier CLI task"
Tracking issue for adding catalog task for the prettier CLI tool: https://prettier.io/

The [`golangci-lint`](https://github.com/tektoncd/catalog/blob/v1beta1/golang/lint.yaml) is likely a good starting point for inspiration.

/kind feature
/assign yolandadu1997

[2020-06-03 17:35] wlynch commented on #340
/assign yolandadu1997

[2020-06-03 17:37] wlynch opened #348 "Generic gsutil Task"
Tracking issue for adding catalog task for a generic gsutil CLI task to perform any gsutil command.

The existing [gcs](https://github.com/tektoncd/catalog/tree/v1beta1/gcs) tasks will be a great starting point here.

/kind feature
/assign dorismeixing

[2020-06-03 17:41] dibyom commented on #348
gsutil commands: https://cloud.google.com/storage/docs/gsutil

[2020-06-03 17:51] wlynch opened #349 "Implement curl Task"
Tracking issue for adding catalog task for a curl Task to make HTTP calls.

The tkn CLI will be a great starting point here for a CLI based task.

/kind feature
/assign yuege01

[2020-06-04 08:31] #320 closed

[2020-06-08 09:14] #160 closed

[2020-06-08 19:56] bgottfried91 opened #358 "openshift-client task escapes single quotes"
The openshift-client ClusterTask is replacing single-quotes in the ARGS array parameter with escaped double quotes.

Ex: This task in a pipeline
[code]
produces the following error when the pipeline is run:
[code]

Note that the single quotes around the patch block are replaced with **"\"**.

I'm assuming this is something with how Tekton converts an array parameter into a single value.

If you do

[2020-06-12 18:37] dibyom opened #363 "e2e-test framework support for tasks that need secrets"
# Expected Behavior

Allow e2e-tests for tasks that need some form of secret info (Secrets, creds, serviceAccounts) to run.

# Actual Behavior

Currently, there isn't a way to do this short of the task author creating the secret as part of the test.

# Additional Info

* This is mainly necessary of tasks that work with some kind of an external system. For some of these cases, we can use local vers

[2020-06-13 16:35] wumaxd opened #364 "Add Python tasks for linting and unit testing"
# Expected Behavior
A Task which runs linting based on the module `pylint` and a Task which executes unit-tests based on the module `pytest`. Further, support for different Python versions would be nice (3.6, 3.7, 3.8, ...)

# Actual Behavior
These Tasks do not exist currently.

# Additional Info

I currently work on Tasks for `pylint` and `pytest` and I came across #352. Feedback from a maintaine

[2020-06-15 11:27] chmouel commented on #364
/kind feature

[2020-06-15 16:54] dfreilich commented on #184
@anxinyf Is this still an issue?

[2020-06-16 03:41] anxinyf commented on #184
@dfreilich
Oh, already solved in https://github.com/buildpacks/lifecycle/issues/262 :)
Just the reason for the lifecycle version

[2020-06-16 03:41] #184 closed

[2020-06-16 06:44] vinamra28 commented on #349
Closed in https://github.com/tektoncd/catalog/pull/355
/close

[2020-06-16 11:46] 2020testuser opened #366 "Packs"
This is kind of feature requirement question.

Could you please let me know how to extend from an existing pipeline(s) (multiple pipelines in different repos.) , override the base pipeline(s) , merge two pipelines , support inheritance etc. ?
Is this possible in tekton? If so, could you provide details.

If this feature is not available, it would be useful to include this as would be very useful f

[2020-06-16 12:29] chmouel commented on #366
Not answering fully your question but you can always use `kustomize` with tekton yamltemplates for advanced usage https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#overview-of-kustomize

[2020-06-16 19:53] marcusmaday commented on #366
I have also been toying with the idea of pipeline "packs".  It seems like it would be useful to be able to group a series of pipelines together and inherit/override in a similar fashion to how Jenkins X buildpacks work.  It would be especially useful if those packs could inherit and resolve tekton objects from many git repositories and merge and apply those to build the pipeline.  I think it would

[2020-06-16 20:52] maneeshmehra opened #368 "Task for generating unique build id"
Description
The purpose of this feature request is to create a task definition that is able to generate a unique build Id. A build Id is often appended to base version Ids in JAR files, Docker image tags to make them unique. If such as task is made available, then it would help a number of users, who currently use different CI systems (like Jenkins) that automatically provide a unique build Id to

[2020-06-16 20:53] maneeshmehra commented on #368
I have a pre-written task that I used for a PoC to generate a unique build Id. I'd like to take on ownership of this issue to allow me to share my implementation with the community.

[2020-06-16 21:20] wumaxd commented on #364
/assign @wumaxd

[2020-06-17 15:14] wlynch commented on #349
/close

[2020-06-17 15:14] #349 closed

[2020-06-17 15:16] wlynch commented on #340
Merged in https://github.com/tektoncd/catalog/pull/351

[2020-06-17 15:16] #340 closed

[2020-06-17 15:16] wlynch commented on #348
Merged in https://github.com/tektoncd/catalog/pull/359

[2020-06-17 15:16] #348 closed

[2020-06-17 20:12] maneeshmehra commented on #368
PR for this: https://github.com/tektoncd/catalog/pull/369

[2020-06-18 05:28] chmouel opened #370 "Create a script to generate catalog boilerplate"
There is quite a lot of boilerplate when creating a new task for the catalog.

We do have the task, the README with a certain format, the tests, the examples
etc...

We could have a script asking a few question and generate the boilerplate
encouraging the best practices and make easier for new contributors to
contribute.

/kind feature
/assign

[2020-06-18 06:55] zzguang520 opened #371 "Issues: Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded"
# Expected Behavior
 kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml
create successfully
# Actual Behavior
[root@master ~]# kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml
Error from server (InternalError): error when creating "https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml": I

[2020-06-18 15:30] bobcatfish opened #373 "Create Tekton based Pipeline which has capability to run against multiple tekton pipelines versions"
# Expected Behavior

* Tasks should be able to declare what versions of Tekton Pipelines they are compatible with (https://github.com/tektoncd/pipeline/issues/2588)
* The catalog test infrastructure can use this information to determine what versions of Tekton Pipelines to test against

# Actual Behavior

All catalog Tasks are tested against 1 version of Tekton Pipelines, hard coded at https://git

[2020-06-19 16:07] guyhoskinsibm opened #376 "Can't get git-clone-checking-out-a-branch.yaml example pipeline to run to completion"
# Expected Behavior
git-clone-checking-out-a-branch.yaml runs checking out code and cat-ing the readme

# Actual Behavior
repo is cloned (fetch-repo) task runs.
the next stage does not start:
 - a pod named affinity-assistant-... is in CrashLoopBackOff.
- Events within the pod show "pod has unbound immediate PersistentVolumeClaims (repeated 2 times)"
- logs from pod show
[code]

# Steps to Reprodu

[2020-06-19 22:44] popcor255 opened #377 "Create Tekton Task for Podman/Docker (Sidecar)"
# Expected Behavior
Expected a task with docker/podman to run complex builds that require docker. There is a task in the docs for a docker sidecar. [link](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#specifying-sidecars).

# Actual Behavior
There is not task in the catalog for docker.
/kind feature
/assign

[2020-06-22 13:16] sbwsg commented on #376
This looks possibly like a permissions error related to running the nginx affinity assistant as non-root user?  Can you confirm what the securityContext was on the affinity assistant pod and its containers?

@jlpettersson have you seen any errors like this before with the assistant?

[2020-06-22 13:20] sbwsg commented on #376
(for reference, this is the example in questions: https://github.com/tektoncd/catalog/blob/master/git/examples/git-clone-checking-out-a-branch.yaml)

[2020-06-22 13:43] guyhoskinsibm commented on #376
Thanks @sbwsg I have not set up any securityContext on the pod

[2020-06-22 13:47] sbwsg commented on #376
It looks like you're using `openshift`, is that right? (I'm assuming based on use of `oc`)

I believe that openshift randomizes the user that a pod runs as.

[2020-06-22 15:01] guyhoskinsibm commented on #376
@sbwsg yes I am using openshift - applying the security context has got the affinity-assistant up. Thank you!
I am still getting PVC errors. 3 pods are spun up affininity-assistant and two for the pipeline - one for each task. One of the task pods always seems to error with:
[code]
looks like there is contention on the pv - any help on this would be much appreciated

[2020-06-22 18:37] dibyom opened #379 "Catalog Integration Tests are failing"
# Expected Behavior
All tests pass

# Actual Behavior

git-batch-merge-test-mode-merge-cherry-pick- seems to be the one failing consistently across many PRs:
- https://github.com/tektoncd/catalog/pull/378
- https://github.com/tektoncd/catalog/pull/375
etc

/kind bug
/area testing

[2020-06-22 19:39] dibyom commented on #379
The test succeeds locally. I looked at the logs in StackDriver for #375: https://gist.github.com/dibyom/b52930b16e05eb9a1c889a46600f3288

The last message is that the step has finished executing:
[code]

So, looks like the task actually succeeded but the test runner thought it failed?

[2020-06-22 19:40] dibyom commented on #379
snippet for failing log:

[code]

[2020-06-22 21:26] jlpettersson commented on #376
Hm, I have not seen those errors before.
The Affinity Assistant can be [disabled](https://github.com/tektoncd/pipeline/blob/master/config/config-feature-flags.yaml#L32).

I am not really understanding what may cause problems here.
Is there any _events_ on the pod, when describing it? `kubectl describe pod <my-pod-name>`

I wounder if the _affinity_ declared in the `PipelineRun` may be in conflict

[2020-06-22 22:07] #379 closed

[2020-06-23 06:48] guyhoskinsibm commented on #376
With the `Affinity` block removed when the pipeline was run there were 5 pods spun up. One affinity.assistant and 4 pipeline pods. The Affinity assistant ran the whole time no issues. For the pipeline only one of the pods ran at any one time, the others were stuck initialising and had errors like this.
[code]
[code]
When the pod that was running had completed its task (I determined this from looki

[2020-06-23 06:51] chmouel commented on #373
That's a good idea, i can pick this up if you like.

I wonder what's is the best way to do this tho. Since pipeline supports does not support per namespace install.

Perhaps something like this :

- Collect all pipeline versions of all tasks in catalog
- for each pipeline versions uninstall previous and install the new pipeline version.
- Run all catalog tasks that want that specifics version agai

[2020-06-23 06:59] jlpettersson commented on #376
From the above message, it sound like your storage type is not compatible with the Affinity Assisant or parallel tasks, since it try to mount the volume on different paths? for each pod. I think the Affinity Assistant need to be disabled for that kind of storage.

[2020-06-23 10:46] guyhoskinsibm commented on #376
@jlpettersson @sbwsg thank you so much for your help! I have tracked the problem I was having down to there being two versions of tekton pipelines running in my cluster, under different namespaces - this was creating the PVC conflict (an the reason why there were more pods than tasks being run!)
I am happy for this issue to be closed as it was my error

[2020-06-23 12:30] sbwsg commented on #376
Fascinating, great work figuring that out and thanks for reporting back!

[2020-06-23 12:30] #376 closed

[2020-06-23 12:34] PuneetPunamiya opened #386 "Reorganize Catalog based on Catalog Organization proposal"
# Reorganize Catalog based on Catalog Organization proposal

## Expected Behavior

  1. [Catalog Organization proposal](https://docs.google.com/document/d/1DUkOSWKkq8UVCn5Ip5ojD_fRwUZdTOHAwfUgQAPWz9k/edit?pli=1#heading=h.mfg0tcb14ixk)

  2. Each resource should follow the following structure

[code]

  3. Resource YAML file includes following changes

  *  Labels include the version of the resourc

[2020-06-23 12:37] PuneetPunamiya commented on #386
/assign

[2020-06-23 13:33] bobcatfish commented on #373
Hey @chmouel ! There's a sketch for how this could look [in the test infra design doc](https://docs.google.com/document/d/1-czjvjfpuIqYKsfkvZ5RxIbtoFNLTEtOxaZB71Aehdg/edit#heading=h.hzcpipuqmb1u) - i'm (slowly) working on a prototype, my biggest goal is to do this using tekton pipelines

For (2) I want to do that with a Pipeline that takes a version as an argument - also if we use boskos we can cr

[2020-06-23 16:36] #368 closed

[2020-06-24 05:19] PuneetPunamiya opened #387 "Fix YAML Lint"
# Fix YAML lint

# Expected Behavior

* On executing the yamllint command resources should not have any lint error
[code]

# Actual Behavior

* Currently on executing the `yamllint` it returns the following errors

[code]

[2020-06-24 05:19] PuneetPunamiya commented on #387
/assign

[2020-06-24 05:20] PuneetPunamiya commented on #387
/kind bug

[2020-06-24 06:38] chmouel commented on #387
Did we disable the check? @vdemeester  🤔

[2020-06-24 07:15] vdemeester commented on #387
@chmouel oh… we might have disabled it when it was failing on the test-runner images (the whole python2/3, …) indeed :sweat_smile:

[2020-06-24 13:02] sbwsg opened #390 "Update git-clone to latest git-init and document changes in behaviour"
# Expected Behavior

The git-clone catalog entry uses the latest released version of git-init. Documentation for the entry is accurate.

# Actual Behavior

git-init [will be changed](https://github.com/tektoncd/pipeline/pull/2835) in the upcoming Pipelines release (1.14) to fetch a remote repository's default branch instead of assuming "master" when revision is "".

[2020-06-24 13:32] Divyansh42 commented on #390
/assign

[2020-06-25 16:21] #387 closed

[2020-06-29 16:16] a-roberts opened #393 "Add kubectl from path task"
# Expected Behavior
I'd love to be able to pick and choose tasks from the Tekton catalog for a demo/Twitch stream I'm planning with colleagues at iBM. Unfortunately the kubectl task I've found doesn't cut it - I want to simply do

[code]

# Actual Behavior
The actual task has a pre-defined manifest that gets used and far too many required parameters.

# Additional Info
This shouldn't be tricky and

[2020-06-29 16:43] a-roberts commented on #393
PR https://github.com/tektoncd/catalog/pull/394

[2020-06-29 16:43] a-roberts commented on #393
/assign
/status in-progress

[2020-07-09 15:19] sbwsg opened #405 "Tkn Task: Provide a way to mount credentials / kubeconfig"
# Expected Behavior

The `tkn` task should be able to work with a kubeconfig for a cluster so that it can operate on it.

# Actual Behavior

At the moment there doesn't appear to be a good way to get a kubeconfig into the the Task.

Possible solutions to this problem would be:
- Cluster PipelineResource
- ["Optional" Workspace](https://github.com/tektoncd/pipeline/issues/2119) that would allow kub

[2020-07-13 06:57] PuneetPunamiya opened #411 "Validation Tool to follow the Catalog Structure"
# Expected Behavior

1. Each resource should follow the following structure
[code]

* **NOTE** : The `resource name` and the `directory name` should match

2. Resource YAML file should include the following changes
  *  Labels include the version of the resource.
  *  Annotations include
     - `minimum pipeline version` supported by the resource
     - `tags` associated with the resource
     - `

[2020-07-13 06:58] PuneetPunamiya opened #412 "Validation Tool to follow the Catalog Structure"
# Expected Behavior

1. Each resource should follow the following structure
[code]

* **NOTE** : The `resource name` and the `directory name` should match

2. Resource YAML file should include the following changes
  *  Labels include the version of the resource.
  *  Annotations include
     - `minimum pipeline version` supported by the resource
     - `tags` associated with the resource
     - `

[2020-07-13 08:14] PuneetPunamiya opened #413 "Validation Tool to follow the Catalog Structure"
# Expected Behavior

1. Each resource should follow the following structure
[code]

* **NOTE** : The `resource name` and the `directory name` should match

2. Resource YAML file should include the following changes
  *  Labels include the version of the resource.
  *  Annotations include
     - `minimum pipeline version` supported by the resource
     - `tags` associated with the resource
     - `

[2020-07-13 08:46] #411 closed

[2020-07-13 08:46] #412 closed

[2020-07-14 09:13] kitty-catt opened #417 "buildah task - tag with generated expression from for example a date."
# Expected Behavior
When I make a tekton resource to point to the index.docker.io/<user>/image:tag-{datetime} image then the image is tagged with the additional value of the datetime (YYYYMMDD-hhmm).

# Actual Behavior
It is my belief that the current version is limited to index.docker.io/<user>/image:tag

# Steps to Reproduce the Problem

N/A

# Additional Info
Feature request.

[2020-07-15 08:03] vinamra28 opened #420 "Integration Tests not Running against new PRs"
# Expected Behavior

While raising a new PR, integration tests should run and then should give the result whether passed or failed.

# Actual Behavior

currently all tests are passing because of this new catalog reorganisation. example integration test logs for PR #391 -> [logs](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_catalog/391/pull-tekton-catalog-integration-

[2020-07-15 08:04] vinamra28 commented on #420
/kind bug
/area testing

[2020-07-15 16:03] popcor255 commented on #45
Maybe a tekton cli option is possible.
I starting writing a design doc. Here is a [poc](https://github.com/popcor255/Tekton-Catalog-Fetcher-API) if anyone is interested.

I find the catalog really useful; however, I only apply the task once. I dont think having a dedicated api is a real solution. However, I think having cli implementation is low hanging fruit.

[code]

[2020-07-15 16:12] piyush-garg commented on #420
/assign
/assign @PuneetPunamiya

[2020-07-15 19:39] necccc commented on #386
Is it possible to gain control on task versions from a pipeline?

Example scenario:

I have a Pipeline resource I wish to distribute.

With the current proposal there are some constraints I have to face:
- if I would like to use a new version of a task in the Pipeline, after that change I need to communicate that every user who uses the Pipeline should update the definitions they pull the task fro

[2020-07-16 09:19] vdemeester commented on #386
So far this is "on the user" to do that, aka including some versionning in their Tasks. **So in a gist, this is still an issue — or more accurately this is something we need to work on and fix at some point**. There is a bunch of possibilities to explore here:
- Have the catalog include the version in the `name` field of the Tasks. That's the easiest way to fix that problem *initially* as it doesn

[2020-07-16 15:55] piyush-garg opened #422 "Cloudevent test not working"
Clouevent tests yaml given are not working in CI right now

We have skipped the test for now in #421 to make the CI green.

This issue is created to make the tests working later.

[2020-07-16 15:56] piyush-garg commented on #422
cc @iancoffey

[2020-07-16 16:52] iancoffey commented on #422
Added a commit in https://github.com/tektoncd/catalog/pull/396 that should fix this

[2020-07-16 17:36] #420 closed

[2020-07-16 18:45] piyush-garg commented on #422
Fixed in #396

[2020-07-16 18:45] #422 closed

[2020-07-17 01:39] dfreilich commented on #161
@poy I'm sorry that this slipped through the cracks! We definitely agree, though it is going to be a different process than `pack` uses.

[This conversation](https://buildpacks.slack.com/archives/CSFE49VGR/p1594917693186400?thread_ts=1594912690.185400&cid=CSFE49VGR) on the Buildpacks slack notes:

We'll work on getting this through.

[2020-07-17 01:46] dfreilich opened #423 "Allow users to set multiple tags with the buildpacks task"
# Expected Behavior
With #415, the `buildpacks` task will be updated to use the `creator` binary. [That](https://github.com/buildpacks/spec/blob/main/platform.md#creator) allows users to add additional tags to the image by passing though `-tag <TAG>`. I would expect you to be able to pass TAGS to the buildpacks task, and it would work.

# Actual Behavior
It doesn't work.

# Additional Info
I spike

[2020-07-17 04:46] PuneetPunamiya opened #424 "Remove unnecessary file in the samples directory"
# Expected Behavior

- The samples directory has yaml files samples which are not related to the task, hence that needs to be removed

# Actual Behavior

*   For e.g. Based on the proposal the git task is split as:

[code]

* Here as we can see in samples directory there are `git-cli`, `git-rebase`, `git-clone` yaml files samples as well which may not be required.

[code]

* Here as we can see in

[2020-07-17 05:50] piyush-garg commented on #424
/assign @PuneetPunamiya

/kind misc

[2020-07-17 07:47] sthaha commented on #386
@necccc Thank for bringing up the concerns, I will try and answer as much as I can

What you are alluding to is an issue we already have with the existing system.
I think the problem is "how do I specify what the dependencies of the current
resource is". We had a discussion on this in our [Catalog & Hub WG meeting](https://docs.google.com/document/d/12180Mqmhoj5JK17zE07DG3OdqYHcUAWVBGydavoxhec/edi

[2020-07-19 06:49] vinamra28 commented on #305
It looks like the license problem is reappearing with PRs. For reference [367](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_catalog/367/pull-tekton-catalog-build-tests/1284506618976800770/)
[code]

[2020-07-21 14:44] vinamra28 commented on #405
/assign

[2020-07-21 14:54] rhuss opened #430 "Remove "knctl-deploy" task from catalog"
`knctl` has been sunset since 1.5 years and only supports Knative up to 0.2 (current version: 0.16). The successor is `kn` for which there are also entries in the catalog.

To avoid confusing for the user I suggest to remove `knctl` as it is not maintained anymore and I'm pretty sure does not work with current Knative installations (as it refers to apiversions which are not present anymore in any

[2020-07-21 15:23] dfreilich commented on #161
@poy when we looked into it a bit more, we had a bit of difficulty thinking of a use case for this. Users can create a special builder if they'd like that matches their applications, and that would prove to be easier and less likely to clog up the task. Is there a particular use case we're not addressing here that we could be?

[2020-07-23 14:11] #364 closed

[2020-07-23 15:08] wumaxd commented on #413
@PuneetPunamiya Regarding 1.
How about creating a list of changed directories (`./task/<dir>`) based on the `CHANGED_FILES` in the `presubmit-tests.sh` (https://github.com/tektoncd/catalog/blob/a0e2d1eb4d8fcdd6c0ff0e9389be8dfbf6124695/vendor/github.com/tektoncd/plumbing/scripts/presubmit-tests.sh#L79).
Based on this list check if for each version a task exists (`./task/<dir>/<version>/<dir>.yml`)

[2020-07-23 15:38] vdemeester commented on #413
/cc @sthaha who also started to work on this I think :wink:

[2020-07-23 17:46] bobcatfish commented on #45
Related work that is also related is around the OCI image registry, and task versioning, see #1839, https://github.com/tektoncd/community/pull/137 (OCI TEP)

[2020-07-23 17:47] bobcatfish commented on #45
And on this issue, also see https://github.com/tektoncd/pipeline/issues/859

[2020-07-23 21:19] bobcatfish opened #441 "Guidance for writing Tasks: When is it appropriate to have multiple steps?"
# Expected Behavior

It'd be nice to provide users with best practices around when it is appropriate to use multiple steps and when it makes sense to combine into one.

## Christie's dream ☁️

It'd be great if each step of a Task could do one thing well and one thing only. Each step could be a small image that only does one thing, and the image itself is well tested. A Task then becomes a sequence

[2020-07-24 04:28] sthaha commented on #413
/assign

[2020-07-24 04:32] sthaha commented on #413
@wumaxd I am working on a go based on (ripped off Hub which already validates catalog) which in addition to validating the annotations and labels will also ensure the yaml is a valid Tekton resource (using UniversalDeserializer). Hope to submit that soon into the plumbing repo.

[2020-07-24 06:43] sthaha opened #442 "Make owners own all versions of a resource"
Currently the OWNERS file is in the versioned directories, can we move them one level up?

![image](https://user-images.githubusercontent.com/432502/88341418-8e107900-cd0b-11ea-8258-1d0a5e557c81.png)

I'm guessing we'll have folks owning a Task across all versions, probably not a different set for each version (tho folks could add that if they wanted to)

_Originally posted by @bobcatfish in https

[2020-07-24 07:46] #442 closed

[2020-07-24 07:59] felixtran39 opened #444 "Passing multiple workspaces into a task."
# Description
I have a pipeline that uses the git-clone task to clone a repository to a workspace. I do this for two different workspaces. Next, I attempt to pass both workspaces into a task. When running this pipeline, I see that it gets stuck on the task that I pass both workspaces into. (This task works fine when only one of the two workspaces is passed in).

# Expected Behavior
Task finishes s

[2020-07-24 08:08] vdemeester commented on #444
So, this is most likely due to the affinity assistant (see [here](https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#specifying-workspace-order-in-a-pipeline-and-affinity-assistants)). Overall, in the task you can define as many `workspace` as you want, but at runtime, you should, ideally, use only one PVC (with subpath in the workspace definition) so that you don't get into an un

[2020-07-24 08:25] chmouel commented on #441
I agree shell script can be opaque when large and embedded in a large script section in a yaml but I believe there is arguments in favour of shell scripts too, an image with a GO binary that only wrap shell commands is arguably as hard to read and hard to tests than shell scripts and bring infrastructure complexities...

Ideally if we could have a binary using a 'native' library instead of relying

[2020-07-24 13:41] vdemeester commented on #306
it is done.
/close

[2020-07-24 13:41] #306 closed

[2020-07-24 14:23] chmouel opened #446 "Testing tasks with external access"
# Actual Behaviour

We have a number of tasks that needs access to external services.  We are not testing them for a number of reasons :

1. we would need to manage credentials for access
2. tests could easily get flaky since we would be dependent of external factors.

We should be able to test those tasks the same way we are doing the testing for the `builder` tasks, we run a container as a sidec

[2020-07-24 20:08] yuwenma commented on #444
@vdemeester Thanks Vincent! In our use case, we used the [git-clone catalog](https://github.com/tektoncd/catalog/tree/master/task/git-clone/0.1) to fetch the repos and our task has to use multiple repos. If it's not suggested to use more than one workspace, is that possible to extend the functionality of the git-clone catalog, so as it can fetch multiple repos to a customized path?

More context:

[2020-07-27 08:29] vinamra28 opened #447 "Improve the exisiting maven task"
# Actual Behavior

The current maven task is simple and does not support context directory switch in case of multi-module maven projects and also the settings.xml is `cat` into the output which may contain passwords thus exposing them.

# Proposal

1. Add context Directory  so we can switch the directory for building, in case of multi module maven projects
2. Avoid cat of the settings.xml , as it

[2020-07-27 12:53] sbwsg opened #448 "Kaniko Task doesn't support GKE Workload Identity without hand edits"
# Expected Behavior

Tasks should be able to support as many credential mechanisms as possible out of the box. For Kaniko this ideally means that it could support both a docker config file as it currently does as well as systems like GKE Workload Identity.

# Actual Behavior

As [reported in Slack here](https://tektoncd.slack.com/archives/CK3HBG7CM/p1595853519214500) Kaniko will stop looking for c

[2020-07-27 12:55] sbwsg commented on #201
Given that the git-clone task does support creds-init style authentication and that we now have a [dedicated thread of work related to improving credentials support](https://github.com/tektoncd/pipeline/issues/2343), I'm going to call this issue closed.

[2020-07-27 12:55] #201 closed

[2020-07-28 15:13] dlorenc opened #450 "Feature Request: Results support for GCS upload/download"
The GCS upload/download tasks should support Task results, to indicate what files were uploaded/downloaded.

This is a little tricky though - we support wildcard paths/etc. so the number of files uploaded/downloaded is dynamic. Results are static. We probably need to have a single "result" that contains a manifest of what was uploaded/downloaded.

Something like:

[code]

for every uploaded/downlo

[2020-07-28 17:04] sbwsg commented on #450
Given that there's effectively no limit to the total number of entries in the manifest (and therefore its potential size) I wonder if this might be a sound use case for the [optional workspace](https://github.com/tektoncd/pipeline/issues/2119) feature instead?  A user could opt to pass in a workspace to receive the manifest and the task could decide to only generate that manifest if the workspace

[2020-07-28 21:25] danielhelfand opened #452 "Document Minimum Permissions Needed for GitHub Access Tokens for GitHub Tasks"
As part of using Tasks around interacting with the GitHub API, it's common to need to create a personal access token to send as an `Authorization` header as part of a request.

An example of this is the [github-add-comment](https://github.com/tektoncd/catalog/tree/master/task/github-add-comment/0.1#github) Task. Showing something along the lines of access token permissions for working with a publi

[2020-07-29 01:56] sthaha opened #453 "Reorganise openwhisk to conform with catalog re-org TEP"
Creating this issue so that we don't miss the follow up reorganisation of the openwhisk related tasks, conditions and pipelines.

`---8<---8<---8<---8<---8<---8<---8<---8<---8<---8<---8<---8<-`

@vdemeester @mrutkows Just noting that I am okay with merging the patch since the TEP is still in `proposed` but please be aware that the way it is currently organised doesn't [conform to proposal](https:/

[2020-07-29 07:59] vdemeester commented on #42
/remove-lifecycle rotten

[2020-07-29 07:59] vdemeester commented on #42
/remove-lifecycle stale

[2020-07-29 07:59] vdemeester commented on #453
/kind cleanup

[2020-07-29 16:35] NavidZ commented on #448
I can also confirm the workaround worked. But what do you imagine the solution be on the Tekton part vs having a fix in Kaniko?
Would having this env conditional as part of the (task/pipeline)run that user defines work? So they can choose to pass or not pass it?

[2020-07-29 17:36] sbwsg commented on #448
This is surprisingly tricky. Kaniko doesn't contain a shell by default and Tekton doesn't really support conditionally setting the environment variable. Parameterizing it would definitely be one approach - either the user would have to explicitly pass the path to the credential or we could add a param like "dontOverrideDockerConfig" (horrible name, just an example) to configure it.

One more alter

[2020-07-30 04:07] mrutkows commented on #453
@sthaha Please assign to me... I already have another branch that conforms with the updates made to the TEP 9 days ago...

[2020-07-30 10:33] chmouel commented on #453
/assign @mrutkows

[2020-07-30 15:50] NavidZ commented on #448
cc @ImJasonH as he added the Kaniko task originally

I'm a bit hesitant to use any debug build for this. Debug builds are usually not built with the same security concerns as Release builds and using them in production might expose unwanted surfaces.

One question. Should we always be fully backward compatible on these tasks? Meaning if a taskrun was working with this version of the task it should

[2020-07-30 16:03] sbwsg commented on #448
The catalog TEP, only in proposed state right now, does suggest that catalog tasks shouldn't break existing users of a Task here: https://github.com/tektoncd/community/blob/master/teps/0003-tekton-catalog-organization.md#versioning--compatibility

Given that it's still in proposed, I'd guess we have a little bit of leeway though.  But if we can tackle this without breaking existing users that woul

[2020-07-30 16:49] ImJasonH commented on #448
Is there a specific change we would like to make to Kaniko to have this work correctly? Defaulting the value of `DOCKER_CONFIG` sounds very doable in Kaniko itself.

[2020-07-30 16:51] ImJasonH commented on #448
/cc @dlorenc

[2020-07-30 16:52] sbwsg commented on #448
I think the default is already set by Kaniko to `/kaniko/.docker`?  So the issue really is that Tekton wants to override it with the location that our auth.md dictates docker credentials get put.  When the user isn't using those creds-init credentials (e.g. they're using workload identity instead) we're _still_ overriding with that location because we don't have a way to really determine which kin

[2020-07-30 16:52] NavidZ commented on #448
One thing I noticed during my testing with debug image of Kaniko was that when I was passing DOCKER_CONFIG it was showing up with the same value in the env vars of the deployed container. But when I removed it from the yaml it still showed up but with a different value of "/kaniko/.docker/"

[2020-07-30 16:53] sbwsg commented on #448
https://github.com/GoogleContainerTools/kaniko/blob/master/deploy/Dockerfile#L47

[2020-07-30 17:02] NavidZ commented on #448
Do you happen to know who chooses what auth method to use? Is it Kaniko based on emptiness of the DOCKER_CONFIG directory? Or is it Tekton not setting service accounts for that pod when DOCKER_CONFIG is present in the task.yaml? Either way the workload identity stuff should be hidden from these as this should only go through k8s service accounts and workload identity stuff should be done behind th

[2020-07-30 17:19] sbwsg commented on #448
kaniko is at least partly involved. I spotted this fallback behaviour to `docker-credential-gcr` when it detects that the DOCKER_CONFIG directory is non-existent: https://github.com/GoogleContainerTools/kaniko/blob/cdbd8af0578c56e2801b57461e9f417f9479d303/pkg/executor/push.go#L112-L121

But this doesn't explain the behaviour we're seeing I don't think - since `/tekton/home/.docker` shouldn't exist

[2020-07-30 17:20] sbwsg commented on #448
I'm reasonably sure that the service account on the Pod should be unaffected by the presence or lack of the `DOCKER_CONFIG` env var.

[2020-07-31 13:35] ppitonak opened #460 "OpenShift client task has optional git input resource"
# Expected Behavior

Documentation and implementation of openshift-client task are aligned

# Actual Behavior

`openshift-client` task has optional input resource `source` which is not used in the task. Documentation says the following:

# Steps to Reproduce the Problem

1. compare https://github.com/tektoncd/catalog/blob/master/task/openshift-client/0.1/openshift-client.yaml and https://github.co

[2020-08-02 12:14] piyush-garg commented on #460
/assign

[2020-08-03 14:24] jlpettersson opened #461 "Issue with golang-build"
# Expected Behavior

That I can use `golang-build` task without modifications

# Actual Behavior

I got this error when building a simple go app:

[code]

# Steps to Reproduce the Problem

1. use the golang-build task to build

# Additional Info

I use Go modules - I think that should be the defaul behaviour in august 2020 :)

----

The solution I used to get the task working was by removoing this

[2020-08-03 14:33] chmouel commented on #446
/assign

[2020-08-03 14:42] vdemeester commented on #461
@jlpettersson so the error seems to say that `params.package` wasn't provided ? As it doesn't have a default value it is required.
My guess is that you are using go modules and you want to build `.` (aka what is mounted in `/workspace/src`), am I right ?

[2020-08-03 14:43] jlpettersson commented on #461
yes, that seems to be correct

[2020-08-03 15:02] vdemeester commented on #461
/kind bug

[2020-08-03 16:41] kameshsampath opened #463 "Add a Task to interact with Kubernetes Cluster with Ansible"
The [Ansible Kubernetes](https://github.com/ansible-collections/community.kubernetes) provides a no `kubectl` way to interact with Kubernetes clusters using Ansible.

A Task that can help to run Ansible playbook  typically targeted in performing Kubernetes cluster interaction will be of great value.

[2020-08-03 16:44] chmouel commented on #463
/kind feature

[2020-08-06 17:54] bobcatfish opened #476 "Request: Proposal(s) for supporting Pipeline in catalog"
The proposals we've had so far around the catalog have centered around supporting Tasks. Though we've always known we wanted to support more types, we haven't thought through how to do that well.

For example in https://github.com/tektoncd/catalog/pull/457 @mrutkows is adding a Pipeline and has run into complication that goes beyond what Tasks require, for example a Pipeline will require a number

[2020-08-06 17:56] bobcatfish commented on #476
@mrutkows if it was possible to specify the supporting Tasks [via their location in an OCI registry](https://github.com/tektoncd/community/blob/master/teps/0005-tekton-oci-bundles.md), would you still need something like deploy.sh? (cuz in this case you wouldn't need to apply the Tasks before using the Pipeline)

[2020-08-07 15:11] abayer opened #477 "git-batch-merge shouldn't default to depth=1 and subdirectory=src"
# Expected Behavior

Using `git-batch-merge` with default parameters (other than `url` and `batchedRefs`, at least), the merge should work and the cloned repo should be in the same place that it would be with the `git-clone` task with default parameters.

# Actual Behavior

`depth` defaults to `1`, so a shallow clone is performed and merging changes to any existing file fails due to merge conflict

[2020-08-07 19:24] #477 closed

[2020-08-10 09:13] #463 closed

[2020-08-10 14:54] chmouel opened #481 "docker-build test task is failing"
# Expected Behavior

No failure :)

# Actual Behavior

The test are sometime failing :

`FAILED: docker-build task has failed to comeback properly`

The main issue seems to be with this :

[code]

# Steps to Reproduce the Problem

1. Check the log [here](https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_catalog/479/pull-tekton-catalog-integration-tests/1292831095561129984/build-log.

[2020-08-10 15:09] chmouel commented on #481
/kind bug

[2020-08-10 15:40] chmouel commented on #481
cc @popcor255 @PuneetPunamiya @ImJasonH @vdemeester

(people in the owners file for docker-build task)

it is breaking the catalog CI fyi,

[2020-08-10 15:44] ImJasonH commented on #481
This is unexpected, since the Task's sidecar shouldn't report as ready until the certs are generated and available: https://github.com/tektoncd/catalog/blob/cb2b319b20b99bf48fd7d636fbe35afb170976b3/task/docker-build/0.1/docker-build.yaml#L100-L103

[2020-08-10 18:59] popcor255 commented on #481
I can not reproduce the error. @chmouel :\

[2020-08-11 07:38] jacobhjkim opened #484 "Broken link in pipeline/openwhisk/0.1 README"
# Expected Behavior

This file should exist
[https://github.com/tektoncd/catalog/blob/master/pipeline/openwhisk/0.1/pipeline/pipeline-to-build-openwhisk-app.yaml](https://github.com/tektoncd/catalog/blob/master/pipeline/openwhisk/0.1/pipeline/pipeline-to-build-openwhisk-app.yaml)

# Actual Behavior

pipeline-to-build-openwhisk-app.yaml doesn't exist, but it is listed in [README](https://github.com

[2020-08-11 07:39] jacobhjkim commented on #484
/kind bug

[2020-08-11 13:00] vinamra28 commented on #481
@popcor255 could you please clone https://github.com/tektoncd/catalog/pull/485 and then try reproducing the problem. For now I have renamed the `tests` dir to `samples-1`.

[2020-08-11 13:35] chmouel commented on #481
This is weird, maybe there is some race going on, i can def reproduce it every time when running the test manually :

<details>
  <summary>Manual run output: </summary>
<pre>
         name: output
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
+ echo '--- Container Logs'
--- Container Logs
++ kubectl get pod -o name -n docker-build-0-1
+ for pod in $(kubectl get pod -o name -n ${tns})
+

[2020-08-11 14:11] piyush-garg commented on #481
It just happened in Ci for me

[code]

[2020-08-11 14:12] chmouel commented on #481
we are going to disable the test in CI until we figure it out...

[2020-08-11 14:14] piyush-garg commented on #481
Raised PR https://github.com/tektoncd/catalog/pull/487 to disable in CI

[2020-08-11 15:12] kameshsampath opened #488 "Support sparse-checkout with git-clone"
Currently the git-clone task does not have ability to do https://git-scm.com/docs/git-sparse-checkout, where as part of my task I can checkout only set of directories from the Git repositories.

Advantage of this approach will help :

-  Tasks using the `CONTEXT_DIR` or `CONEXT` can use sparse checkout mode to clone only required the directories
-  When using nested repo it helps the to restrict t

[2020-08-11 20:24] popcor255 commented on #481
Hey @chmouel @piyush-garg @vinamra28. Thanks for the feedback! I did not how to recreate the error without your help. :brain: So, I did some debugging and I found something really interesting.

When I run the task on the new dev environment from this pr https://github.com/tektoncd/catalog/pull/482  (I would get the following):
[code]
When I run the task on my old dev environment (I would get the f

[2020-08-12 00:54] popcor255 commented on #484
@mrutkows Openwhisk.yaml is missing. It is included in the bash script but not included in the pr.

[2020-08-12 00:54] popcor255 commented on #484
/assign @mrutkows

[2020-08-12 19:17] #47 closed

[2020-08-12 19:18] popcor255 commented on #481
/assign

[2020-08-12 20:18] #54 closed

[2020-08-12 20:18] #102 closed

[2020-08-12 20:18] #85 closed

[2020-08-12 20:18] #110 closed

[2020-08-13 00:21] #158 closed

[2020-08-13 07:57] vdemeester commented on #7
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:01] vdemeester commented on #3
/close

[2020-08-13 08:01] #3 closed

[2020-08-13 08:01] vdemeester commented on #96
I think, this is definitely not relevant anymore with the current catalog organization.
/close

[2020-08-13 08:01] #96 closed

[2020-08-13 08:02] vdemeester commented on #13
/lifecycle frozen

[2020-08-13 08:02] vdemeester commented on #94
/close

[2020-08-13 08:02] #94 closed

[2020-08-13 11:28] #169 closed

[2020-08-13 13:28] #131 closed

[2020-08-13 16:29] #217 closed

[2020-08-13 18:30] bobcatfish commented on #96
and i think we did that! 😎

[2020-08-13 18:44] bobcatfish commented on #7
@vdemeester now that we've got the hub, do you think this tool still makes sense?

[2020-08-13 19:10] bobcatfish commented on #5
The catalog organization proposal (soon to be implementable?) addresses this: https://github.com/tektoncd/community/blob/master/teps/0003-tekton-catalog-organization.md#support-tiers

[2020-08-13 19:32] #238 closed

[2020-08-13 22:34] #265 closed

[2020-08-13 22:34] #95 closed

[2020-08-14 01:35] #233 closed

[2020-08-14 04:37] #229 closed

[2020-08-14 04:37] #296 closed

[2020-08-14 05:37] #281 closed

[2020-08-14 07:00] holly-cummins commented on #265
Oops, yes, this should have been closed since https://github.com/tektoncd/catalog/pull/293 was merged.

[2020-08-14 09:40] #324 closed

[2020-08-14 09:40] #326 closed

[2020-08-14 11:41] #331 closed

[2020-08-14 14:14] afrittoli commented on #481
@vdemeester FYI
@popcor255 would you mind proposing a fix to avoid overriding existing sidecars?

[2020-08-14 15:30] bobcatfish commented on #29
I think we still need to make some decisions here, particularly since we have tasks that now rely on pipelineresource images - if we phase out pipelineresources and/or completely change their designs, we're going to need to decide where to put them

@vdemeester and i put some thoughts in [this doc](https://docs.google.com/document/d/1tkrDWd4Vud0mk5xOiox9JHfg96tjiawrGi0aonA590w/edit)

/lifecycle fr

[2020-08-14 18:45] #358 closed

[2020-08-14 19:46] #363 closed

[2020-08-14 20:30] popcor255 commented on #481
I wrote a pr to fix this bug specifically. There is some discussion having a one shared local repo. #491 However, there is gonna need some discussion on image-name/tags. Cause, if it's not consistent throughout all tasks, test will break.

[2020-08-14 22:46] #377 closed

[2020-08-15 01:47] #393 closed

[2020-08-15 09:49] #417 closed

[2020-08-15 16:22] Divyansh42 commented on #390
/reopen

[2020-08-16 05:54] #424 closed

[2020-08-16 07:56] #386 closed

[2020-08-16 18:11] necccc commented on #386
Thx @sthaha for the great answer!
I'll dive into the OCI artifacts a bit more, and keep an eye on TEPs regarding these concerns.

[2020-08-17 08:41] vdemeester commented on #424
@PuneetPunamiya is it still an issue ?

[2020-08-17 08:41] vdemeester commented on #423
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:41] vdemeester commented on #373
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:42] vdemeester commented on #370
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:43] vdemeester commented on #366
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 13:32] PuneetPunamiya commented on #424
Yes will soon submit a patch :hugs:

[2020-08-18 08:54] piyush-garg opened #495 "Ansible Runner task not working on OpenShift"
# Expected Behavior

Ansible task should work on OpenShift

# Actual Behavior

Ansible task failing to run on Openshift with following error

[code]

# Steps to Reproduce the Problem

1. Apply the ansible-runner task and git-clone task.
2. Create the resources available in tests directory
3. Create the pipeline and pipelinerun available in tests directory

# Additional Info

Pipeline version: 0.15

[2020-08-18 10:23] vdemeester commented on #495
/cc @kameshsampath

[2020-08-18 13:52] kameshsampath commented on #495
Fixed via https://github.com/tektoncd/catalog/pull/496

[2020-08-18 17:18] piyush-garg commented on #495
Fixed by #496

/close

[2020-08-18 17:18] #495 closed

[2020-08-19 15:29] mrutkows commented on #476
Of course, I would like to endorse componentization and reusability, but the assumption seems to be one that assumes that all of my tasks (or other artifacts) must be put into a registry.  That raises the bar for them IMO, such that it feels like you are forcing me to create versioned artifacts (as I commented to Sunil earlier when I was asked to relocate and version all my tasks).  My analogy are

[2020-08-20 18:48] popcor255 commented on #377
/remove-lifecycle rotten

[2020-08-28 13:22] #447 closed

[2020-08-31 14:25] #481 closed

[2020-09-01 14:33] sbwsg commented on #461
I believe the issue here is that variable expansion isn't supported in `workspaces.mountPath`.  So it's always `/workspace/src/$(params.package)`.  Looks like this is a problem in all of the golang tasks.

See feature request to add support for variable expansion in `workspaces.mountPath` here: https://github.com/tektoncd/pipeline/issues/3152

[2020-09-08 15:53] abudavis opened #505 "Git clone Pipeline crashes"
I am trying to run this Pipeline :https://github.com/tektoncd/catalog/blob/v1beta1/git/examples/using-git-clone-result.yaml
When I create the Pipeline using OpenShift GUI, I get the following error (Component Trace & Stack trace) below:

TypeError

[code]

[code]

[code]

[2020-09-09 09:40] piyush-garg commented on #505
@abudavis Did you create the task also before that?

[2020-09-09 10:43] abudavis commented on #505
No, because I assumed git-clone is a cluster task? Or may be it needs to be identified as a "cluster task" in the pipeline?

[2020-09-09 12:04] piyush-garg commented on #505
@abudavis

Can you please then try adding Kind also here https://github.com/tektoncd/catalog/blob/v1beta1/git/examples/using-git-clone-result.yaml#L29

`kind: ClusterTask`

[2020-09-09 16:24] abudavis commented on #505
The reported issue seems to be because the service account was missing in the PipelineRun, when "serviceAccountName: pipeline" is added, it works.

Now coming to the "ClusterTask" called "git-clone", this also worked provided the service account is specified as above, otherwise sometime get the reported error OR the pipeline runs endlessly with a red exclamation on the task.

Do you know if there

[2020-09-09 16:28] piyush-garg commented on #505
Yaa adding pipeline is specific to `OpenShift Pipelines` glad it worked for you.

Regarding pulling multiple repos, I think you can reference the same task multiple times in pipelines and can provide the respective URL. I guess all the repos will be cloned in the same workspace.

[2020-09-09 16:41] abudavis commented on #505
Thanks again.
By multiple git repos, I meant something like this wherein repo names are passed as a parameter (which can be 3, 30, etc) and one could loop through it for more actions.

[code]

[2020-09-09 18:56] piyush-garg commented on #505
This is something not available in the catalog, you can modify the task according to your use case

[2020-09-09 21:58] abudavis commented on #505
Thanks again.
When using the git-clone cluster task, is there anyway to tell it to clone to a folder by the name of the repo its cloned from? I did see a "subdirectory" param, but rather than setting "subdirectory" to name of the repo, can this be done automatically as part of the git clone?

[2020-09-10 08:04] sthaha commented on #413
Just an FYI: we now have a tool to validate resources here - https://github.com/tektoncd/plumbing/tree/master/catlin
usage: `catlin validate <file.yaml>`

Contributions most welcome 🤗

[2020-09-10 11:06] piyush-garg commented on #505
Hi @abudavis

Here is the git-clone task https://github.com/tektoncd/catalog/blob/v1beta1/git/git-clone.yaml which is designed considering most of the use cases/scenarios. If you have any specific use-case, you can modify accordingly and use. If there is something which can be a common case, feel free to raise a PR/issue. Thanks

[2020-09-10 11:07] piyush-garg commented on #505
I will close this issue as it has been resolved.

/close

[2020-09-10 11:07] #505 closed

[2020-09-11 14:03] #390 closed

[2020-09-12 14:07] #189 closed

[2020-09-17 05:56] PuneetPunamiya opened #511 "According to TEP a file should have only one resource"
# Expected Behavior

* According to TEP a file should have only one reosurce

# Actual Behavior

* [Build-push-gke-deploy](https://github.com/tektoncd/catalog/blob/master/task/build-push-gke-deploy/0.1/build-push-gke-deploy.yaml) has two tasks and one pipeline which violates the rule of TEP

# Possible Fix

1. Move the pipeline to the pipeline directory
2. If the tasks are specific to pipeline the

[2020-09-17 05:59] vinamra28 commented on #511
/kind bug
/good-first-issue

[2020-09-18 15:00] piyush-garg commented on #484
@mrutkows Can you please take a look at this. Thanks

[2020-09-18 15:16] mrutkows commented on #484
@piyush-garg

Yes, openwhisk.yaml was a rename that was requested and was supposed to be fixed with this PR:
https://github.com/tektoncd/catalog/pull/457

But there was additional requests to change again where some of the dependent resource files lived in an evolving directory structure which required more discussion to resolve it seemed and my job assignment changed which derailed my ability to

[2020-09-18 15:25] vinamra28 commented on #484
@mrutkows or probably you can open a new PR and fix this issue and keep that PR which will fix the directory structure and other review comments

[2020-09-18 15:43] mrutkows commented on #484
I would prefer the approach I sugg. as this can solve the problem immediately ;)

[2020-09-21 08:46] lkrzyzanek opened #514 "Add local repo caching ability to maven task"
# Expected Behavior
Ability to define the PVC as cache that would be used as maven local repo.
Then Rerunning pipeline with `maven` task do not download again and again maven dependencies.

# Actual Behavior
Maven dependencies are download on each pipeline run.
There is no possibility to instruct the task to use PVC for maven local repo.

# Steps to Reproduce the Problem

1. Create a pipeline as d

[2020-09-21 08:53] lkrzyzanek commented on #514
If this sounds good to you I can prepare PR.

[2020-09-22 17:40] a-rothwell commented on #488
I would like to work on this

[2020-09-24 21:06] davissp14 opened #518 "Git-clone issue."
# Expected Behavior
For the repo to be cloned.

# Actual Behavior
[code]

As you can see, the scheme is specified in the URL.

# Additional Info
This worked in Tekton Pipeline 0.13, but is not working in 0.16.

Task being used:  https://github.com/tektoncd/catalog/tree/master/task/git-clone/0.2

I am only passing in the URL and Revision to the Task.

[2020-09-24 21:15] davissp14 commented on #518
Figured out the issue.

[code]

There were two annotation entries the our Secret and deleting the latter fixed the issue.

[2020-09-24 21:15] #518 closed

[2020-09-29 16:56] chmouel opened #523 "Flakyness with maven task test"
Maven task test is being flaky we have seen quite a lot of those lately :

[code]

and this currently blocks the CI

/kind bug

[2020-09-29 19:30] natalieparellano opened #525 "buildpacks task should support platform API 0.4"
# Expected Behavior

Buildpacks task should support buildpacks platform API 0.4

# Actual Behavior

It currently supports platform API 0.3

# Additional Info

This may be as simple as changing this line (and the equivalent one in buildpacks-phases): https://github.com/tektoncd/catalog/blob/b50f4d0e930cc0e187c166a050bae77b96a87c15/task/buildpacks/0.1/buildpacks.yaml#L64 from `0.3` -> `0.4`

We may

[2020-09-29 19:32] natalieparellano commented on #525
https://www.google.com/url?q=https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/%23customizing-the-termination-message&sa=D&ust=1601409562037000&usg=AFQjCNFUheyKCF8JDL-4ZhuDdjUqJrFopQ for capturing report.toml

[2020-09-30 04:31] NissesSenap opened #526 "New task, create github PR using github cli"
# Expected Behavior
Create a new task that can create a github PR.

# Actual Behavior
Currently there is a bunch of python code to do things like labeling issues etc. in github.
Instead of having to manage code on our own it would be nice to use the github cli.

Would also be interesting to use the CLI in current tasks that where it's reasonable.
The CLI is not feature complete but possible to ext

[2020-09-30 04:41] NissesSenap commented on #526
I can't find any official container for the github cli.
I created https://github.com/cli/cli/issues/2027 so we hopefully don't have to manage our own.

[2020-09-30 07:41] chmouel opened #527 "New Task: Create a Mypy check task"
Mypy is a popular static code analyser for python that checks code as described  http://mypy-lang.org/ :

[code]

There is a docker image available here :

https://github.com/cytopia/docker-mypy

/kind feature

[2020-09-30 20:58] natalieparellano commented on #525
Started looking into this today, a couple of notes:

* the path for report.toml (`-report`) if not specified defaults to the working directory of the lifecycle which I thought was `/layers`, but I didn't see a report.toml there at the end of the build. Explicitly setting the path did produce a report. I am not sure where the report ends up in the default case.
* I tried setting `terminationMessage

[2020-10-01 10:53] vinamra28 commented on #527
/assign

[2020-10-01 14:12] ppitonak commented on #460
@piyush-garg any update when this could be fixed?

[2020-10-02 09:33] chmouel opened #530 "New Task: Github Code scanning tool"
Github has released their code scanning tool to be able to be run on any CI.

even if it seems to  only uploads the code for reports (i.e: it would not block the pipeline if there was an issue) It would be nice if there was a task for it, documentation is available here :

https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/running-code-s

[2020-10-03 14:43] bitsofinfo opened #531 "git-clone:0.1 - open /root/.ssh/known_hosts: too many levels of symbolic links"
# Expected Behavior

Works

# Actual Behavior

Get the error

[code]

# Additional Info

Running Pipelines 0.16.3, w/ flags. Same w/ 0.15.2 and 0.14.3.

[code]

I've been using `git-clone:0.1` for several months with 0.14.3 and 0.15.2 and, recently re-applied "0.1" and now I get the error above..

In my pipeline:
[code]

The `gitCloneUrl` above is just a github project.

I see there were some chan

[2020-10-05 11:23] vdemeester commented on #531
/kind bug
/cc @sbwsg

[2020-10-05 13:59] bitsofinfo commented on #531
2bb049e works

[2020-10-05 14:06] bitsofinfo commented on #531
5250f30 works

[2020-10-05 14:10] sbwsg commented on #531
/assign

[2020-10-05 18:10] sbwsg commented on #531
@bitsofinfo could you post the Pod with any sensitive data removed?  [We do create a symlink as part of the git-init program we use](https://github.com/tektoncd/pipeline/blob/b16369e4be967a14069a095894d425237a424a39/pkg/git/git.go#L220-L225) but I can't seem to figure out a way to reproduce the issue you're facing here.  Seeing the Pod would help me reproduce the specific env the Step's container

[2020-10-05 18:11] sbwsg commented on #531
`kubectl get pod -o yaml <name of taskrun's pod>`

[2020-10-05 18:13] bitsofinfo commented on #531
you mean the git-clone taskrun pod instance?

nothing sensitive in it, just from this example https://github.com/bitsofinfo/cicdstatemgr/tree/1.1.3/examples/tekton

i can't run it at the moment, but can later today

[2020-10-05 18:20] sbwsg commented on #531
Yeah that would be great. Cheers!

[2020-10-05 20:31] bitsofinfo commented on #531
[code]

[2020-10-06 09:11] chmouel opened #533 "New Task: codecov.io"
https://Codecov.io is quite popular to give a nice coverage report for a number of programming languages and available free for opensource projects.

It would be nice if we could get a codecov.io task.

/kind feature

[2020-10-06 18:20] sbwsg commented on #531
Hm, I think Tekton is creating a dangling symlink [in the `git-init` binary when we try to "ensureHomeEnv"](https://github.com/tektoncd/pipeline/blob/master/pkg/git/git.go#L220-L225). The required conditions are:

1. the feature flag disable-home-env-overwrite is "true"
2. the container user is root
3. no git / ssh secret is attached to the taskrun service account
4. user must be running newer ver

[2020-10-07 09:19] #527 closed

[2020-10-07 10:12] PuneetPunamiya opened #538 "Hub: Add new tags to the existing categories or create new categories"
# Expected Behavior

- Currently tasks have tags and this tags fall under some categories in Hub i.e [config.yaml](https://github.com/tektoncd/hub/blob/master/config.yaml)

# Actual Behavior

As new tasks have been added there are multiple tags which don't fall under any category and fall under others.
Hence these tags need to be categorize properly

# Steps to Reproduce the Problem

Please addres

[2020-10-07 10:14] PuneetPunamiya opened #539 "Hub: Add new tags to the existing categories or add new categories"
# Expected Behavior

- Currently tasks have tags and this tags fall under some categories in Hub i.e [config.yaml](https://github.com/tektoncd/hub/blob/master/config.yaml)

# Actual Behavior

As new tasks have been added there are multiple tags which don't fall under any category and fall under others.
Hence these tags need to be categorize properly

# Steps to Reproduce the Problem

Please addres

[2020-10-07 14:29] sbwsg opened #540 "Support grouping very closely related Tasks into a single folder / document"
# Expected Behavior

A Task author should be able to document closely related Tasks by organizing them together in a single directory or yaml file.

Here's the scenario:

1. Author writes three separate Tasks: setup, execute, teardown.
2. `setup` Task generates a token that `execute` and `teardown` both need to function.
3. The `execute` Task might need to run 1 or many times, each time with the s

[2020-10-07 16:32] #538 closed

[2020-10-08 08:59] #531 closed

[2020-10-08 19:26] bitsofinfo commented on #531
thanks for fixing @sbwsg !

[2020-10-12 15:29] #461 closed

[2020-10-14 07:11] chmouel opened #545 "Dangling symlink inside the catalog in boskos tasks"
There is some dangling symlinks in the catalog that points to nowhere :

[code]

yamllint doesnt seem to like it :

[code]

/kind bug
/kind cleanup

[2020-10-14 09:17] chmouel commented on #446
Merged in #537

[2020-10-14 09:17] #446 closed

[2020-10-14 13:28] chmouel opened #548 "Slow E2E tests"
I have done some investigation on how long each e2e tests take to see if we can improve the e2e testing time, here are the results :

* ansible-runner - a minute
* bentoml - 35 seconds
* black - 41 seconds
* buildah - a minute
* **buildpacks-phases - a minute**
* **buildpacks - a minute**
* check-make - 42 seconds
* curl - 13 seconds
* docker-build - 41 seconds
* generate-build-id - 12 seconds
* g

[2020-10-14 13:28] chmouel commented on #548
/kind testing
/close

[2020-10-14 13:28] #548 closed

[2020-10-16 19:41] spikeburton opened #549 "Broken link in CONTRIBUTING.md for test-runner Dockerfile"
# Expected Behavior

The link should take me to the Dockerfile

# Actual Behavior

The link takes me to a 404 page on GitHub

# Steps to Reproduce the Problem

1. Go to [CONTRIBUTING.md](https://github.com/tektoncd/catalog/blob/master/CONTRIBUTING.md#end-to-end-testing)
2. Click on link for `test-runner` Dockerfile under end-to-end testing section

# Additional Info

This looks to be the correct l

[2020-10-17 05:51] vinamra28 commented on #549
/kind bug

[2020-10-17 05:57] ishani2412 commented on #549
/assign

[2020-10-19 15:28] sbwsg commented on #405
/remove-lifecycle stale

[2020-10-20 09:22] rhuss commented on #430
/remove-lifecycle stale

[2020-10-20 12:23] jtama-op opened #550 "Docker Readme typo"
# Expected Behavior

Readme.md should use `docker-build` as taskRef.

# Actual Behavior

As of now it points to takRef docker.

# Additional Info

Only documentation.

[2020-10-21 19:25] bobcatfish commented on #45
It seems to me like this issue will be solved by @pierretasci's work in https://github.com/tektoncd/pipeline/issues/1839, which will allow referencing Tasks and Pipelines in image registries, and opens the door to referencing other locations (e.g. git repos) as well.

Seems reasonable to me to close this issue? (@vdemeester @popcor255 )

[2020-10-22 10:02] #405 closed

[2020-10-22 18:34] bobcatfish commented on #441
I think it's reasonable to close this for now, I don't have any actions to take (or clear ideas yet), we can reopen this if we want to discuss more in the future :)

[2020-10-22 18:34] #441 closed

[2020-10-23 12:47] Divyansh42 opened #555 "Ability to specify secret name and key in github tasks"
# Expected Behavior
Rather than forcing task users to create a secret with a fixed
name, allow setting the secret name and key as parameter.

The new parameters will be optional, in the sense that they default
to the previous hard-coded values.

Check [this](https://github.com/tektoncd/catalog/blob/master/task/github-set-status/0.2/github-set-status.yaml#L88-L90) for the same.
# Actual Behavior
Pr

[2020-10-23 12:48] Divyansh42 commented on #555
/assign

[2020-10-25 16:48] marcosflobo opened #557 "Feature request: New task for JFrog Artifactory"
# Feature Request
JFrog Artifactory is a very popular repository manager to store any kind of builds, from RPMs to Docker images. URL https://jfrog.com/artifactory/

It would be great to implement a task able to upload artifacts generated in a previous task

/kind feature

[2020-10-26 17:36] sbwsg commented on #450
/remove-lifecycle stale

[2020-10-27 09:56] chmouel opened #561 "Test Runner: Move away from sidecar PODS to service"
We are currently modifying tasks everywhere to run as a sidecar but I can't remember why I did lik this while we could just run them as services.

We could spin up a couple of services (i.e: registry, go-rest-api-test or others?) in a shared workspace and have the tests pointing to it,

/kind feature

[2020-10-27 09:56] chmouel commented on #561
/assign

[2020-10-27 13:40] itewk opened #562 "RFE: update all catalog Tasks/CatalogTasks to make the image field a parameter"
# Expected Behavior
ability to at use/runtime change the image being used in a task.

## Reasons

1. in disconnected environments can not access the hard coded image
2. in enviroments where a image mirror such as quay/nexus/artifactory is used need ability to pull the images from that internal mirror
3. need image with non root known UID to deal with git nonesense and work in environments where gi

[2020-10-27 14:09] vinamra28 commented on #557
/assign

[2020-10-28 13:11] sbwsg commented on #540
Further context: it looks like this remained an open question in [the catalog TEP](https://github.com/tektoncd/community/blob/master/teps/0003-tekton-catalog-organization.md#open-questions-1):

So it seems like there was not a final decision on this and it could be discussed further in a follow-up TEP?

[2020-10-28 17:06] tnixa commented on #557
i was able to build and push to artifactory by creating a secret:
[code]
and then used this task:
[code]

[2020-10-28 20:53] chmouel commented on #557
Latest version of buildah task should support providing an optional workspace with ask certs for buildah to use (0.17.0 and onward pipeline required)

[2020-10-28 21:04] chmouel commented on #562
This sound a reasonable request to make it as policy

[2020-11-02 12:00] jlpettersson opened #571 "Task to cache build dependencies on e.g. Minio"
# Expected Behavior

That Tekton has good support for caching build dependencies. Either using Minio (f.eks. using on-prem OpenShift) or cloud buckets.

# Actual Behavior

No such task in Tekton Catalog

# Additional Info

Tekton has a common architecture (distributed environment) and problem as e.g. GitHub Actions:

From [About caching workflow dependencies](https://docs.github.com/en/free-pro-te

[2020-11-02 14:47] Danny02 commented on #571
I build a minimal prototyp with the following steps:

    - name: uncache
      image: docker.io/minio/mc
      script: |
        mc config host add c3 $(params.server-url) $minio_access_key $minio_secret_key

        file=$(sha3sum $(workspaces.output.path)/$(params.cache-key) | cut -f1 -d' ').tar.gz

        mkdir -p $(workspaces.output.path)/$(params.cache-dir)

        echo "checking if cache

[2020-11-03 17:12] bobcatfish commented on #540
I also find this odd - maybe with "tags" the experience of viewing grouped Tasks in the UI would be enough?

Definitely think we could switch to a different layout if we can think of something better that supports this grouping.

[2020-11-04 12:13] chmouel commented on #540
I do find it odd too, but when asked to @sthaha  it was mentioned that the reason being for avoiding name collusion and computable discovery :

https://github.com/tektoncd/catalog/pull/559#discussion_r513197874

Which I am not sure how we can address this aside of having a list database (like dnf/yum/krew would have) and potentially bringing other issues.

[2020-11-04 13:15] #533 closed

[2020-11-04 16:52] zhouhaibing089 commented on #131
Interesting, curious on what was the reason?

[2020-11-04 16:53] zhouhaibing089 commented on #131
/reopen

[2020-11-04 22:50] sthaha commented on #540
I agree with all the above. I find it quite limiting as well and for the time being we can leave Hub out of this discussion and focus on the constraints that a catalog should have. Hub like any other tools needs to understand what a catalog is an how it is organised to extract the information.

 We can leave the constraint that the path of a resource should be computable from its kind, aside but I

[2020-11-06 14:55] #555 closed

[2020-11-09 14:24] sbwsg commented on #540
Given that we only have a single separate (`-`) for resource names and we currently allow top-level catalog entries in a resource directory to use `-` in their name, I don't actually think there's a way to prevent collisions against the existing format.  However, we could tackle the separator problem: we could introduce a new separator (`.`) but this is not compatible with `Pipelines` OR we could

[2020-11-09 22:03] natalieparellano opened #575 "Buildpacks task should set security context"
# Expected Behavior
Buildpacks task(s) should run successfully when there is a pod security policy that prevents setting the uid / gid

# Actual Behavior
When there is a pod security policy that prevents setting the uid / gid then the buildpacks steps that try to set these will fail with something like `ERROR: failed to exec as user 1000:1000: operation not permitted`

# Steps to Reproduce the Pro

[2020-11-09 22:03] natalieparellano commented on #575
cc @jromero

[2020-11-09 23:13] jromero commented on #575
/assign jromero

[2020-11-10 12:36] Fabian-K opened #577 "Publish catalog to public OCI registry"
Hi,

with tekton pipelines now supporting Tasks & Pipelines from OCI registries, I think it would be really useful if the tasks in this repository are published to a public OCI registry. Is this planned?

There seems to be an open issue to also support git repos (https://github.com/tektoncd/pipeline/issues/2298) which would make this request obsolete but I´m not sure if or when this will be availa

[2020-11-10 12:59] vdemeester commented on #577
/kind feature

[2020-11-12 09:45] vdemeester commented on #7
/remove-lifecycle stale

[2020-11-12 09:52] #549 closed

[2020-11-12 09:52] #550 closed

[2020-11-12 14:12] vinamra28 commented on #575
hi @jromero, any update on this as the task is failing ?

[2020-11-16 09:36] dfreilich commented on #423
/remove-lifecycle rotten

[2020-11-16 21:10] bobcatfish commented on #373
I'm going to close this since I've put the WIP TEP around verified catalog entries to rest for now: https://github.com/tektoncd/community/pull/170

[2020-11-16 21:10] #373 closed

[2020-11-17 08:50] vdemeester commented on #423
/remove-lifecycle stale

[2020-11-18 14:05] vdemeester opened #584 "Migrate jib-* outputs resource to param + result"
The current `jib-*` tasks are still using `PipelineResource`. They should be updated (new version) to use `params` (for image) and `results` (for the generated image digest)

/kind feature

[2020-11-19 15:58] #575 closed

[2020-11-24 16:06] raffaelespazzoli opened #591 "[buildpacks] failed to get previous image: connect to repo store"
# Expected Behavior

I'm following the example for a buildpack build here: https://github.com/tektoncd/catalog/tree/master/task/buildpacks/0.2/tests
I'm getting the following error:
[code]

I'm probably doing something wrong but this error does help explaining what. My code can be found here (it's basically the same thing as the example:
https://github.com/raffaelespazzoli/openshift-enablement-exa

[2020-11-24 21:04] jlpettersson commented on #444
@yuwenma I agree with this. I tried to reason about multiple repos in a CI/CD workflow in the end of this comment https://github.com/tektoncd/pipeline/issues/3440#issuecomment-733109584, maybe you agree?

[2020-11-25 09:39] vdemeester commented on #444
/remove-lifecycle rotten

[2020-11-29 16:01] so0k commented on #131
@zhouhaibing089 - https://github.com/tektoncd/catalog/pull/21

[2020-11-29 16:27] zhouhaibing089 commented on #131
Thanks @so0k . That's pretty helpful.

Replied in https://github.com/tektoncd/catalog/pull/21#issuecomment-735419546

[2020-12-06 00:53] popcor255 commented on #45
/close

[2020-12-06 00:53] #45 closed

[2020-12-06 00:54] popcor255 commented on #45
Closing since #2395 was merged.

[2020-12-15 09:44] chmouel commented on #370
/lifecycle frozen
/remove-lifecycle stale.

[2020-12-16 18:05] vinamra28 commented on #476
/remove-lifecycle stale

[2020-12-16 22:01] bobcatfish commented on #476
I think we know we want this in the long run - and we already have 1 pipeline! so:

/lifecycle frozen

[2020-12-19 15:10] piyush-garg commented on #476
@PuneetPunamiya seems working on this. can you please assign this to you

[2020-12-20 17:10] PuneetPunamiya commented on #476
/assign

[2020-12-21 18:15] chmouel commented on #488
@a-rothwell  please feel free to take this if you still have some spare time!

[2020-12-21 18:15] chmouel commented on #488
/remove-lifecycle stale

[2021-01-04 10:27] chmouel opened #608 "git-clone task, add pull_base_sha, pull_base_ref results"
# Expected Behavior

In prow (and probably jenkins and other CI) there is multiple environement variable for other "tasks/steps" to work with, i.e: :

https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#job-environment-variables

The PULL_BASE_SHA/PULL_BASE_REF is something useful to check if the latest commit lint to something we want. for example used in this catalog CI :

https://

[2021-01-04 18:44] natalieparellano commented on #525
/remove-lifecycle stale

I think this is something we still want to do. @jromero are you looking at it?

[2021-01-05 23:32] lcc3108 opened #611 "argocd-task-sync-and-wait use ARGOCD_AUTH_TOKEN not woring"
Hi
I use argocd-task-sync-and-wait whith auth-token.

here is my pipeline
[code]
An error occurs as shown below.
Server URLs and tokens are hidden for security purposes.
[code]
change task use --auth-token flag like beleow now working
[code]
[code]

I tested the same environment variable locally but there was no error.
I think this bug occurs in the Tekton environment.

[2021-01-15 10:03] SaschaSchwarze0 opened #616 "[Buildpacks] Warning "Tekton fails in step-image-digest-exporter with No index.json found""
The sample task for buildpacks all define an output resource for the image, for example [here](https://github.com/tektoncd/catalog/blob/69179c92add7cdb30e776841fbbcd4c305b6843e/task/buildpacks/0.2/buildpacks.yaml#L53-L56):

[code]

This leads to the logic described in [Surfacing the image digest built in a task](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#surfacing-the-image

[2021-01-19 09:46] navidshaikh opened #619 "Do not run tests for removed tasks in PR"
# Expected Behavior
If a task is removed, do not run its e2e tests (or not try to create the removed task).

# Actual Behavior
While removing a task from catalog, e2e test script tries to run its e2e tests and fails the e2e run upon not finding the tests (or the task definition itself).
Looks like the `all_tests` should be populated from the changes in the PR.
https://github.com/tektoncd/catalog/b

[2021-01-19 10:58] vdemeester commented on #619
/kind bug
/cc @chmouel

[2021-01-19 12:26] chmouel commented on #619
/cc @vinamra28

he has been fixing all the ci run lately 🤗

[2021-01-19 18:08] vinamra28 commented on #619
/assign

[2021-01-21 10:22] #619 closed

[2021-01-21 10:24] chmouel commented on #619
thanks @vinamra28 🙇🏽

[2021-01-26 12:14] tegioz opened #626 "Tekton tasks catalog in Artifact Hub"
Hi 👋

We've just added support for Tekton tasks repositories to Artifact Hub. This will allow publishers listing the Tekton tasks available in their repositories in Artifact Hub.

The Tekton catalog repository [has been added](https://artifacthub.io/packages/search?page=1&repo=tekton-catalog-tasks) as an example. At the moment the publisher is the Artifact Hub organization, but it would be great i

[2021-01-26 13:58] vdemeester commented on #626
/kind feature
Nice, we should indeed investigate on this 😝

[2021-01-27 13:01] itewk commented on #562
@ImJasonH open another TEP for this?

[2021-01-27 13:51] chmouel commented on #562
that's for tektoncd/catalog, we haven't used a TEP before (but we could :)), we would need someone who can own al these changes across all tasks.

[2021-01-27 14:19] johnlongo opened #627 "maven-test-pipeline-run uses a task named fetch-repository that doesn't exists"
maven-test-pipeline-run uses a task named fetch-repository that doesn't exists.

<img width="967" alt="maven-test-pipeline-run" src="https://user-images.githubusercontent.com/23619505/106004018-c741f100-6080-11eb-9abf-c9cf30669906.png">

[2021-01-27 14:27] chmouel commented on #627
You are trying to run the unit/functional pipelinerun test directly on your cluster, you are not supposed to use like this but can only take the test as an example...

In this case you probably would want to import the git-clone task into your namespace to be able to run it.

/kind question

[2021-01-27 14:37] johnlongo commented on #627
ok, Thank you

[2021-01-27 15:01] chmouel commented on #627
/close

[2021-01-27 15:01] #627 closed

[2021-01-27 20:25] johnlongo opened #628 "Trying to run task docker-build"
Trying to run task docker-build, but getting the following error:
Cannot connect to the Docker daemon at tcp://localhost:2376. Is the docker daemon running?

Below is the task run I ran, should I be using a different docker.io image than the default already defined?
Please advise and Thank You in advance.

apiVersion: tekton.dev/v1beta1
kind: TaskRun
metadata:
  name: docker-open-liberty-pet-store

[2021-01-27 23:52] leiyanggz opened #629 "catalog/task/kubeconfig-creator writing workspace, "Error writing kubeconfig, permission denied""
# Expected Behavior
I followed the doc on tektoncd/pipeline https://github.com/tektoncd/pipeline/blob/master/docs/migrating-v1alpha1-to-v1beta1.md#replacing-a-cluster-resource to migrate tekton pipeline objects from v1alpha1 to v1beta1. I ran the sample catalog/task/kubeconfig-creator, the task was expected to write kubeconfig into workspace

# Actual Behavior
No Permission error appeared in the p

[2021-01-28 05:16] Divyansh42 commented on #629
:wave: @leiyanggz
Can you please tell me the version of kubernetes/Openshift that you are using?
and the version of pipeline installed?

[2021-01-28 06:58] leiyanggz commented on #629
Hi @Divyansh42 ,
The version of kubernetes is v1.18.8 and the version of Tekton pipelines is v0.14.3
Thanks

[2021-01-28 07:08] Divyansh42 commented on #629
I tried to reproduce the problem by the steps you told but I am not able to reproduce the problem.
Can you please try on any latest pipelines version post 0.16.2 release?

[2021-01-28 07:10] leiyanggz commented on #629
Sure. Will do.

[2021-01-28 08:31] stobias123 commented on #95
@sbwsg - Any chance you could point a weary traveler to docs about this creds implementation? I'm having trouble finding how to set creds for the [git-clone](https://hub-preview.tekton.dev/detail/34) task in catalog.

[2021-01-28 08:36] vinamra28 commented on #95
hi @stobias123, [Using SSH authentication in git type Tasks](https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#using-ssh-authentication-in-git-type-tasks).

[2021-01-28 19:53] stobias123 commented on #95
Oof missed the note in the docs. Thanks.

On Thu, Jan 28, 2021, 12:36 AM Vinamra Jain <notifications@github.com>
wrote:

[2021-01-29 12:44] benjaminhuo opened #634 "Failed to build function with tekton"
# Expected Behavior
Successfully build function

# Actual Behavior
Google function framework isn't detected

# Steps to Reproduce the Problem
I am able to build sample functions https://github.com/OpenFunction/function-samples with the following command , `google.go.functions-framework` is detected correctly:

[code]

But when I use tekton to build the same function with `gcr.io/buildpacks/builder

[2021-01-29 13:04] chmouel commented on #634
/kind bug

[2021-01-29 13:06] vinamra28 commented on #634
hi @benjaminhuo, I see that you are using `buildpacks` version `0.1` which is now deprecated. Can you please try using `buildpacks` version `0.2`?
/cc @jromero

[2021-01-29 15:15] jromero commented on #634
Note: this issue and possible resolutions have been posted on the lifecycle repo as well: https://github.com/buildpacks/lifecycle/issues/518

[2021-01-29 15:26] benjaminhuo commented on #634
Thanks for the quick response @vinamra28 and @jromero , I've tried buildpacks v0.2 before and it doesn't work.
I'll try the method mentioned in https://github.com/buildpacks/tekton-integration/issues/4 and let you know.

Thanks !
Ben

[2021-01-29 15:26] vinamra28 commented on #460
/remove-lifecycle rotten

[2021-01-30 04:09] benjaminhuo commented on #634
It's fixed following @natalieparellano 's suggestion

Thanks again
Ben

[2021-01-30 04:09] #634 closed

[2021-02-01 08:16] chmouel commented on #571
I think there was a tep from @bobcatfish about (correct me if i am wrong) a service type in Pipeline where the user could request this type of service for its pipeline, maybe that would help for that use case?

I think it would be still useful to have a task to upload directly to minio, so removing the stale.

/remove-lifecycle-stale
/lifecycle frozen

[2021-02-01 15:29] afrittoli opened #639 "Kubeconfig creator task accepts secrets as parameters"
# Expected Behavior

Tasks never accept secrets as parameters. A workspace (or a secret name) and field names can be used to provide access to secrets stored as k8s secrets or as files on a volume.

# Actual Behavior

The kubeconfig creator tasks https://hub.tekton.dev/tekton/task/kubeconfig-creator accepts several secrets as parameters. This is an issue because there's no way to avoid secrets bei

[2021-02-01 15:30] afrittoli commented on #639
/cc @Divyansh42

[2021-02-01 15:31] afrittoli commented on #639
FYI @psschwei

[2021-02-04 00:48] jromero commented on #7
I found this as I was looking for something like what @bobcatfish [mentioned](https://github.com/tektoncd/catalog/issues/7#issuecomment-558768019). AFAICT, Hub would simply display the README file for the task. Would it be possible to have the Hub provide the technicals (parameters, outputs, workspaces, etc)? The README could then be less structured data and instead be more helpful information lik

[2021-02-04 09:54] vdemeester commented on #7
@jromero right, that would be something to bring to the @tektoncd/hub-maintainers team, but I tend to agree yes. It might even be on the hub roadmap 😉

[2021-02-05 13:37] johnlongo opened #642 "Is there a task I can use to push artifacts to a Nexus Repository Manager"
Is there a task I can use to push artifacts to a Nexus Repository Manager

[2021-02-08 05:29] vathsalashetty25 commented on #611
I am new to argocd..

Can you help me that how i can get auth token?

[2021-02-08 21:11] bobcatfish opened #644 "Policy for when to bump versions of Tasks that depend on images in tektoncd/pipeline?"
# Expected Behavior

Whenever there is a change to a Task, we should bump the version. ([TEP-0003](https://github.com/tektoncd/community/blob/main/teps/0003-tekton-catalog-organization.md#versioning-resources)).

We should decide if we want to follow this strategy for Catalog items that depend on images published in tektoncd/pipeline ([these images](https://github.com/tektoncd/pipeline/tree/master

[2021-02-09 10:50] vdemeester commented on #644
So, in the TEP, the rules around "images" are

I did put emphasis on part I feel are important 😛. `tektoncd/pipeline` are images we own, so, the rules there is "if it breaks the CI or if we know (we == tektoncd/pipeline maintainers) something changed in the image". This means, we don't necessarily need to bump the task version *but* it's on us (it's our responsability.. if we break users).

/cc @t

[2021-02-09 11:06] chmouel commented on #644
Does  the binaries from tektoncd/pipeline ensure compatibility between version of pipelines?

[2021-02-09 14:04] sbwsg commented on #644
Taking `git-init` as an example, the only intentional breaking change we've introduced (that I can remember) is that we dropped support for short git hashes [when we added the `refspec` field](https://github.com/tektoncd/pipeline/pull/2320).

Because we use `git-init` in PipelineResources I think we would hear user reports pretty quickly if a new version of Pipelines broke that image.  But I don't

[2021-02-10 16:49] vinamra28 commented on #540
/remove-lifecycle stale

[2021-02-11 08:12] PuneetPunamiya commented on #545
/remove-lifecycle stale

[2021-02-16 18:20] vinamra28 commented on #584
/remove-lifecycle stale

[2021-02-17 10:22] vinamra28 commented on #430
/remove-lifecycle rotten

[2021-02-18 06:57] #430 closed

[2021-02-18 10:41] #584 closed

[2021-02-18 10:43] chmouel commented on #577
/remove-lifecycle stale

[2021-02-18 10:43] chmouel commented on #577
/lifecycle frozen

[2021-02-26 14:51] a-rothwell commented on #488
https://github.com/tektoncd/catalog/pull/638

[2021-02-26 15:24] vinamra28 commented on #488
closed in #638
/close

[2021-02-26 15:24] #488 closed

[2021-02-26 17:10] jromero commented on #591
I didn't see any reference to `https://github.com/cloudfoundry-samples/cf-sample-app-spring` so I'm assuming the image that the PipelineRun is use is specified elsewhere. Could you post the PipelineRun configuration?

It looks like one of two things:

1. The `image` resource is being provided the git source url (bad mapping)
2. The `image` resource url has a scheme (`https`) which it shouldn't.

I

[2021-02-26 17:13] jromero commented on #525
Resolved by https://github.com/buildpacks/tekton-integration/pull/16. To be released any day now. 😄

[2021-03-01 13:23] itewk commented on #562
@ImJasonH @chmouel can we bring this back to life?

/remove-lifecycle rotten this is still a valid and needed request

[2021-03-01 13:56] ImJasonH commented on #562
Hey Ian 👋

While we can update and try to document/enforce that all Tasks in the Catalog support image as a param, we probably won't be able to extend that same control over the Hub, where users can contribute their own Tasks without code review. Longer-term, the Hub is the place where Tasks will probably be shared and pulled from.

I also think there'll be a bit of difficulty enforcing this polic

[2021-03-01 14:00] itewk commented on #562
@ImJasonH good point about the mutating webhook. Will look to do individual PRs for individual (Cluster)Tasks.

I'll close this.

[2021-03-01 14:00] #562 closed

[2021-03-02 16:38] vinamra28 commented on #629
hi @leiyanggz, is your issue resolved? If yes then can we close it?

[2021-03-03 18:59] jsight opened #660 "git-clone tasks should support mounting custom CAs for https git urls"
# Expected Behavior

There should be a parameter for attaching a secret with a custom CA.

# Actual Behavior

With https git URLs that use private CAs, I get this error:

`SSL certificate problem: self signed certificate in certificate chain`

The workaround is to disable SSL verification, but this is dangerous.

# Steps to Reproduce the Problem

1. Create a pipeline using a git-clone task with a

[2021-03-04 10:20] vdemeester opened #661 "Multi architecture support for catalog resources"
A bit similar to https://github.com/tektoncd/pipeline/issues/856, this issue is to track support for multi-architecture task in the catalog. Pipeline ships and is capable on running on multiple architecture today (not yet *officially* supported but still), thus the catalog should be able to mark task as multi-architecture compatible or not. This issue is to track ideas and thoughts on the subject.

[2021-03-09 20:26] jromero commented on #616
Resolved by https://github.com/tektoncd/catalog/pull/654

[2021-03-15 12:15] chmouel commented on #660
/kind feature

[2021-03-15 12:16] chmouel commented on #660
/cc @vinamra28 @sbwsg

[2021-03-16 16:08] vinamra28 commented on #523
@chmouel I guess we can close this for now as maven tasks are being skipped in the e2e tests. WDYT?

[2021-03-16 16:27] chmouel commented on #523
/close

[2021-03-16 16:27] #523 closed

[2021-03-18 10:01] #545 closed

[2021-03-22 19:17] jromero commented on #616
Hi @SaschaSchwarze0, we just released the [latest version of `task/buildpacks`](https://github.com/tektoncd/catalog/tree/main/task/buildpacks/0.3) which should negate this issue.

[2021-03-22 19:37] jromero commented on #525
This is now done as part of our [latest release of `task/buildpacks`](https://github.com/tektoncd/catalog/tree/main/task/buildpacks/0.3#compatibility).

[2021-03-25 09:52] 06kellyjac opened #678 "Using sed rather than python has potential downsides"
I've realized that the changes made in #665 could cause issues if it's not the first function ran against the file to inject the sidecar.
The method it's using is to add `sidecar: blah blah` in a place that's valid but the problem arises when there is already a `sidecar:` block either there already or a modification/injection was run before and already added it.

Sorry :facepalm:

There are a coup

[2021-03-25 09:54] vdemeester commented on #678
/cc @chmouel @vinamra28

[2021-03-25 10:06] chmouel commented on #678
no worries,

IMHO python is fine and should be pretty  much everywhere.

feel free to send a PR to revert this!

[2021-03-29 14:23] SaschaSchwarze0 commented on #616
Thanks @jromero

[2021-03-29 14:23] #616 closed

[2021-03-30 14:48] vinamra28 opened #682 "When doing modifications in e2e scripts, CI should run on whole catalog"
# Expected Behavior

When we do changes which may affect the e2e tests behaviour then CI should run on whole catalog so that if there is any breakage then it can be fixed before getting that PR merged.

# Actual Behavior

As of now CI doesn't runs on whole catalog whenever someone makes some changes related in the test scripts and it depends on the author of the PR whether they want to run the int

[2021-03-30 16:31] vinamra28 commented on #682
/assign

[2021-04-01 12:23] #678 closed

[2021-04-01 16:44] piyush-garg opened #686 "Support for Custom CA Certs in jib-maven task"
# Expected Behavior

Currently jib-maven task fails with flag `INSECUREREGISTRY=false`

Error
[code]

# Actual Behavior

jib-maven task works with flag `INSECUREREGISTRY=false`

There should be a Way to provide ca.cert file

# Steps to Reproduce the Problem

1. Install jib-maven task on openshift
2. Run jib-maven test with INSECUREREGISTRY=false and internal registry image url
3. Taskrun will fail

[2021-04-01 18:02] piyush-garg commented on #686
cc @briandealwis

[2021-04-05 11:37] piyush-garg commented on #686
cc @mpeddada1

[2021-04-05 15:00] chanseokoh commented on #686
Are you suggesting replacing the default Java `cacerts` with the provided one (i.e., the `cacerts` should include all the root CAs plus custom certs) or just appending certs to `cacerts`? The latter is a bit tricky.

But unfortunately, the Jib team will not likely to have the capacity to work on this soon.

[2021-04-05 16:31] piyush-garg commented on #686
@chanseokoh @loosebazooka

I added one-liner to the script

[code]

and mounted that file using volume and it worked

[2021-04-05 17:36] chanseokoh commented on #686
That sounds like a reasonable approach. Are you interested in filing a PR?

[2021-04-06 10:45] #682 closed

[2021-04-06 12:35] #608 closed

[2021-04-08 13:19] #686 closed

[2021-04-09 18:05] zhouhaibing089 opened #694 "[git-clone]: Add sample for checking out pull request"
# Expected Behavior

In git-clone task, I would like to see an example showing how to clone a pull request. Specifically, I'm looking for two modes:

1. `refs/pull/${PULL_NUMBER}/head`: The pull request branch.
2. `refs/pull/${PULL_NUMBER}/merge`: The pull request merged with base.

# Actual Behavior

The existing examples are:

1. checkout branch
2. checkout commit
3. sparse checkout

[2021-04-10 08:29] vinamra28 commented on #694
cc @sbwsg

[2021-04-11 11:41] sbwsg commented on #694
/kind feature

I don't think this is supported out-of-the-box with `git-clone` today so more than just examples we'd probably have to change the `script` that runs or the `git-init` binary too.  Marking this as a feature request.

For now you could use the [`git-cli`](https://github.com/tektoncd/catalog/tree/main/task/git-cli/0.1) task to perform the work needed to clone the PR or MR (gitlab).  Th

[2021-04-14 09:15] chmouel commented on #694
@sbwsg I think setting  something like this should work tho :

[code]

I have some issues with my pipeline atm so i cannot test (not sure why params.refspec doesn't get passed to the binary) but trying it with git-init directly would check out the PR directly.

[2021-04-14 11:46] sbwsg commented on #694
Oh, nice!  I never really understood what `refspec` was 😅 .  That's really cool, thanks for writing up the example!

[2021-04-14 11:52] #694 closed

[2021-04-19 22:27] zhouhaibing089 commented on #694
Thanks. I tried almost exactly the same - just don't know I should put `FETCH_HEAD` as revision. (I tried to use `HEAD`)

[2021-04-21 12:30] afrittoli commented on #639
As noted by @sm43, our `kubeconfigwriter` image does not include bash, and it only accepts its input as an inline json.

I think there are a couple of alternatives we could adopt:
- add an alternative input param to the `kubeconfigwriter` command, that takes a filename where the params are written
- add bash to the base image used for `kubeconfigwriter`

/cc @vdemeester

[2021-04-21 16:00] vdemeester commented on #639
Maybe both are possible even 😛 .

[2021-04-27 16:11] afrittoli opened #710 "Align tasks in the catalog to the authoring reccomendations"
# Expected Behavior

All tasks in the catalog are aligned to the [authoring recommendations](https://github.com/tektoncd/catalog/blob/main/recommendations.md).

# Actual Behavior

Most tasks are not.

# How to Address this Issue

- This does not have to be solved in one go, it could be broken down into many small tasks - feel free to open other, more specific, issues - and link them here
- A big p

[2021-04-27 16:12] afrittoli commented on #710
@mogsie @bittrance @sbwsg @vdemeester FYI

[2021-04-27 17:19] afrittoli commented on #710
We might want to verify shell scripts with [shellcheck](https://www.shellcheck.net/) too.

[2021-04-27 21:45] chmouel commented on #710
`catlin lint script` command should be able to help with that :

https://github.com/tektoncd/plumbing/commit/e6e08917cd14d17ef4be8f05d2dfd89a0206c04d#diff-273ca055ed4a979a860dee854cabd071f961c77ab531140dab24dda4868d7eec

[2021-04-28 21:27] bittrance commented on #710
Regarding param expansion in `script`. I took a quick scan with `grep -lr script: task/ | grep -v tests/ | while read f ; do echo $f ; echo ; yq eval '.spec.steps[].script' $f ; echo '-------------------------------------' ; done`. Many tasks can probably be fixed with limited effort, but the [kubernetes-actions](https://github.com/tektoncd/catalog/blob/85435f9aa4eb10a7ae7d48d96ad57b39e2bcf394/tas

[2021-04-29 20:16] zhouhaibing089 opened #717 "Eliminate the usage of secretRef in Env"
# Expected Behavior

According to [CIS benchmarks][1].

# Actual Behavior

`env[*].secretKeyRef` is heavily used in this repository, [github-set-status][2] for example.

# Steps to Reproduce the Problem

N/A

# Additional Info

We internally tried to be compliant with CIS benchmark, so there is an internal admission which will block all pods creation if it has secretKeyRef in env. This introduces

[2021-05-03 07:51] chmouel commented on #717
I agree, I think the only way we can make sure this happen is to add a rule into catlin https://github.com/chmouel/tektoncd-plumbing/blob/master/catlin/README.md

[2021-05-03 18:32] zhouhaibing089 commented on #717
Thanks for the link!

I'll see what I can do to address this issue - Hopefully it is just some YAML edits if the volumes can be substituted with params.

[2021-05-04 17:53] afrittoli commented on #577
I developed a [catalog task](https://github.com/tektoncd/catalog/tree/main/task/tekton-catalog-publish/0.1) for this - and the PR for nightly runs is [up](https://github.com/tektoncd/plumbing/pull/825).

This will do a full run of the catalog, one bundle per task, and upload it nightly, with two tags, one the task version, and one the git sha. I already create and [example run](https://dashboard.d

[2021-05-05 11:50] #577 closed

[2021-05-05 12:35] morarucostel opened #721 "cloudevent Task still using the inputs prefix to reference the params"
# Expected Behavior
According to the [Migrating From Tekton v1alpha1 to Tekton v1beta1](https://tekton.dev/docs/pipelines/migrating-v1alpha1-to-v1beta1/#changes-to-input-parameters), the Task should reference the input parameters directly using `spec.params` starting with v1beta1.

# Actual Behavior
In the cloudevent task, the `inputs` prefix is still used.
[code]
When using a framework that is ru

[2021-05-07 00:40] #5 closed

[2021-05-07 00:40] #190 closed

[2021-05-07 01:40] #161 closed

[2021-05-07 02:40] #452 closed

[2021-05-07 02:40] #453 closed

[2021-05-07 02:40] #448 closed

[2021-05-07 05:40] #366 closed

[2021-05-07 08:02] vdemeester commented on #42
/reopen
/lifecycle frozen
We should tackle this still.

[2021-05-07 08:37] morarucostel commented on #721
Solved by the merge of PR #722

[2021-05-07 08:37] #721 closed

[2021-05-07 08:40] #413 closed

[2021-05-07 09:40] #511 closed

[2021-05-07 10:40] #484 closed

[2021-05-07 10:40] #514 closed

[2021-05-07 11:40] #526 closed

[2021-05-07 11:40] #530 closed

[2021-05-07 12:40] #539 closed

[2021-05-07 14:40] #450 closed

[2021-05-07 14:40] #561 closed

[2021-05-07 17:58] jerop commented on #710
/assign

[2021-05-07 22:40] #423 closed

[2021-05-07 23:40] #444 closed

[2021-05-12 14:48] wwu-cx opened #915 "Kaniko authentication errors since 0.24 because of HOME env missing"
Took me a while to figure this out, i know this is not per se a bug in tekton, but since a lot of people are using the kaniko build step from the library, i will report this.

# Expected Behavior

After upgrading to 0.24, the kaniko buildstep should function as before.

# Actual Behavior

PUTs to the registry (Useragent kaniko/1.5.2) are working like before, but i see GET and HEAD requests  second

[2021-05-17 05:37] jbg opened #727 "git-clone fails to clone submodules due to SSH host key verification"
# Expected Behavior
The `git-clone` task can clone submodules from e.g. github.com via SSH, when an SSH key and correct host key are provided in the ServiceAccount secrets.

# Actual Behavior
The main repository clones fine over SSH, and then the submodule (cloning from the same host) fails:
[code]

# Steps to Reproduce the Problem
1. Create two git repositories, e.g. `git@github.com:yourname/main

[2021-05-17 05:43] jbg commented on #727
Possibly related to https://github.com/tektoncd/pipeline/issues/1990

[2021-05-17 08:03] chmouel opened #728 "Tekton plugins: should we support /usr/libexec/tkn/"
We are detecting plugins if they are :

* $HOME/.config/tkn/
* or in $PATH

Should we support detection in /usr/libexec/tkn too ?

The idea is to have `vendors` being able to ship tkn plugin and not have it necessary exposed in PATH.

GIT supports PATH and /usr/libexec

NB: `/usr/libexec` should probably need to be overridable with a ldflags in Makefile for vendors who compiles tkn to overrides wi

[2021-05-17 08:03] chmouel commented on #728
/cc @tektoncd/cli-maintainers

[2021-05-17 13:24] vdemeester commented on #728
@chmouel is `/usr/libexec/{something}` usually in the `$PATH` ? My guess is that it is not usual to put these folder in PATH, so yeah, I think it would make sense 🙃 It's just an additionnal folder to check.
One question is also is there something similar on darwin and windows ?

[2021-05-17 15:09] chmouel commented on #728
Probably not on darwin and windows.. but that doesn't really matter tho i think @vdemeester

[2021-05-17 15:54] #611 closed

[2021-05-18 11:23] barthy1 commented on #661
Would it make sense to use annotations, similar how it is done now for tags (`tekton.dev/tags`)?
Something like `tekton.dev/architectures: linux/amd64, linux/s390x, windows/amd64`. If there is no annotation, then default value is `linux/amd64`

`tkn hub` can filter tasks in search and installation based on architecture (extra `--platform` parameter?). And shown supported architectures as extra inf

[2021-05-18 11:31] afrittoli commented on #661
See this thread too: https://tektoncd.slack.com/archives/CK3HBG7CM/p1621074374229700

[2021-05-18 11:52] afrittoli commented on #661
A few thoughts:
- When no command is specified, the controller will fetch the step image to extract the original entrypoint. This causes the image that matches the architecture of the node where the controller runs to be used, which might not match the architecture of the node where the taskrun is going to be executed. [TEP-0041](https://github.com/tektoncd/community/pull/310) could help for that

[2021-05-20 23:14] r0bj opened #731 "github-add-comment with multiline comment failing with: SyntaxError: EOL while scanning string literal"
# Expected Behavior

github-add-comment with multiline comment works and adds comment to github.

# Actual Behavior

github-add-comment with multiline comment failing with:
[code]

# Steps to Reproduce the Problem

Use example from task catalog readme page https://github.com/tektoncd/catalog/tree/main/task/github-add-comment/0.4:
[code]

[code]

# Additional Info

github-add-comment in version 0.2

[2021-05-21 06:17] chmouel commented on #731
I have sent a fix on #732 , i haven't had the chance to test it, it would be great to let us know if it works if you can test that change

[2021-05-21 17:09] r0bj commented on #731
@chmouel I can confirm that your fix works fine, thanks!

[2021-05-21 18:44] hokadiri opened #735 "Git reference repo support for git-clone task"
# Expected Behavior
Able to perform a git clone with a reference repo

# Actual Behavior
No support for reference repo

# Steps to Reproduce the Problem
1.
2.
3.

# Additional Info
https://github.com/tektoncd/pipeline/issues/3969

[2021-05-27 06:22] nikhil-thomas commented on #626
@vdemeester @piyush-garg
does our https://hub.tekton.dev/  lower the priority of this issue.
should we remove `lifecycle/rotten` or let the bot close this

cc @chmouel @siamaksade

[2021-06-05 00:23] csantanapr opened #748 "QA: How to use buildah and skopeo task with internal OpenShift registry with TLSVERIFY=true"
# Expected Behavior

We are using OpenShift Pipelines Operators (aka Tekton).

We want to use buidlah and skopeo from a tekton task be able to pull, push, copy images from/to the OpenShift internal registry on the same Cluster the task is running.

The image URL looks like this `image-registry.openshift-image-registry.svc:5000/openfn-dev/web-app:02bb372`

The only way to get buildah and skopeo to

[2021-06-07 09:15] nikhil-thomas commented on #748
@vdemeester @piyush-garg

[2021-06-07 10:27] piyush-garg commented on #748
Hey @csantanapr

Which version of OpenShift Pipelines Operator you are using? Also can you please provide a bit of detail about the task and taskrun.Thanks

[2021-06-08 00:58] csantanapr commented on #748
Hi using OCP 4.7
Using buildah task https://github.com/tektoncd/catalog/blob/main/task/buildah/0.2/buildah.yaml

[2021-06-10 20:38] jromero commented on #540
There seems be some technical hurdles to overcome to achieve @sbwsg's proposal but I concur with the idea of introducing groups (aka namespacing) to better group tasks as opposed to simply having a single "name" field would be beneficial for discovery and organizational purposes.

[2021-06-11 15:26] chmouel commented on #540
maybe having a manifest generated at merge time would solve the non human discoverability of the task? akin of how krew does it

[2021-06-11 20:12] crmarques opened #752 "[task/buildah] Build fails with task `buildah` but not within a simple pod"
# Expected Behavior

Tekton Task `buildah` builds Dockerfile and pushes to designated registry.

# Actual Behavior

Build fails when using buildah task. Failure does not happen when using same buildah image and executing same command.

# Steps to Reproduce the Problem

1. Create TaskRun
[code]
Obs.: The Dockerfile follows bellow:

[code]
2. kubectl -f apply buildah-test.yaml

3. Get logs:
[code]
[

[2021-06-14 07:52] vdemeester commented on #752
Hi @crmarques, thanks for the issue.
Can we have more detail on your cluster ? (version, …)
Also, naive, slightly unrelated question, any reason for running you task in the `tekton-pipelines` namespace ? this is the "tekton" instance namespace (where the controller & co runs), so usually, users shouldn't run other workload (such as taskruns and pipelineruns) in this namespace.

[2021-06-14 12:53] crmarques commented on #752
Hi, @vdemeester. Thank you for your response!

I'm evaluating tektoncd in a lab environment, with k3d 4.4.4 (kubernetes 1.20.6).

I dug into this error after I open this issue and found the command inside `configure.sh` that triggers the error.

I'm trying to build a OpenLiberty application and the base image, at the end of image build, do same optimization for container start-up, basically, doing

[2021-06-14 13:22] vdemeester commented on #752
@crmarques what platform is your cluster running on ? (k3d made me think of arm64, …)
Yeah the `exit status 21` doesn't help too much 🤔 maybe try to run the `buildah` with `--log-level=debug` to have more logs and *maybe* see a bit more why it fails ?
Also you are using `--storage-driver=overlay`, can you try with `vfs`, just to check if it does something or not at all ?

[2021-06-14 13:29] crmarques commented on #752
I'm using k3d on x86_64. I also thought that maybe this simplified kubernetes distribuition could be the cause, but when I start a simple pod using buildah image I can build my source correctly. I don't thing this is related to the k3d.

I also found something after setting some flags. When Liberty script tries to stop the process it becomes `defunct`:

[code]

It tries to check if process id (in

[2021-06-14 13:37] vdemeester commented on #752
huh.. there might be some rights missing.. can you try to do a `diff` of the pod created by tekton and the one you created (or link/attach both) ? there might be some additional caps or something in the one not created by tekton 🤔 )

[2021-06-14 14:03] crmarques commented on #752
I can't find any relevant difference =/

Both Pod runs with `securityContext: {}` and the insider builder container with `securityContext.privileged: true`. No additional capabilities defined.

[2021-06-14 14:06] vdemeester commented on #752
@crmarques can you join them here (or on a gist) ? devil is in detail sometimes, might be some mounts, …

Ah 🤔 How does that generated script looks like ?

[2021-06-14 14:13] crmarques commented on #752
Off course!

Tekton pod:
[code]

My testing pod:

[code]

[2021-06-16 12:56] rohitsakala opened #757 "Cannot connect to insecure private registry"
I am using https://github.com/tektoncd/catalog/blob/master/task/buildpacks/0.3/buildpacks.yaml.

Here the `APP_IMAGE` doesn't take transport style like `http` or `https`. The `tekton` staging pod makes an `https` call to the registry whereas my registry is insecure. How do I tell `tekton` to make a `http` request ?

[2021-06-16 16:26] vinamra28 commented on #757
cc @jromero

[2021-06-17 14:32] jromero commented on #757
@rohitsakala thank you for filing this issue. I've copied this issue to our development repo for this task and added a [reply](https://github.com/buildpacks/tekton-integration/issues/31#issuecomment-863290558).

[2021-06-18 14:01] gbonnefille opened #760 "Missing parameters for sonnarqube-scanner task"
# Expected Behavior

In corporate environment, with multibranch workflow, the sonnar scanner must receive some parameters like:
- -Dsonar.login
- -Dsonar.branch.name
- -Dsonar.branch.target

When working with pull-request model, we also expect:
- sonar.pullrequest.key
- sonar.pullrequest.branch
- sonar.pullrequest.base

# Actual Behavior

Only sonar.host.url is parametrized.

[2021-06-19 00:29] nikhil-thomas opened #761 "Handle changes in default HOME env and default workspaceDir in pipelines v0.24.x release"
# Expected Behavior

All catalog Tasks tests should pass, especially after https://github.com/tektoncd/catalog/pull/756 this merges.

From pipelines v0.24.0 onwards:
[code]
ref: https://github.com/tektoncd/pipeline/releases/tag/v0.24.0

# Additional Info

This is an issue created to make sure that we identify tasks that need changes to handle this change.
An alternate apprach (short term) will be

[2021-06-21 15:13] natalieparellano commented on #525
I think this issue can be closed!

[2021-06-21 15:13] #525 closed

[2021-06-26 06:32] #626 closed

[2021-06-28 17:32] #460 closed

[2021-06-28 22:19] zhouhaibing089 commented on #717
I've proposed https://github.com/tektoncd/plumbing/pull/859 as the first step.

[2021-06-29 14:10] zacheryph opened #768 "sonarqube-scanner: settings from secret fails"
# Expected Behavior

providing sonar-settings from a secret should get copied into the source-dir and work

# Actual Behavior

the settings _are not found_ when providing sonar-settings from a secret. this possibly affects configmap's as well.

# Steps to Reproduce the Problem

1. make a `PipelineRun` with the following

[code]

2. Observe
[code]

# Resolution

The script does `cp -R ...` the sona

[2021-06-29 14:31] zacheryph commented on #760
I wonder if this might be better resolved by having a way of merging the project sonar-project.properties and the one coming from sonar-settings

[2021-06-29 14:33] zacheryph commented on #768
Whoops. I accidentally referenced #760 at first, though it should be the PR #590

[2021-06-29 14:49] gbonnefille commented on #760
I think these sonar.pullrequest.* properties should be provided as var env as they are dynamic information: mostly different from one run to another, depending on external context.

[2021-06-30 03:42] magick93 opened #770 "s2i and chained builds"
# Expected Behavior

I'm creating a pipeline that is intended to do the following:

1. git clone
2. build, using s2i (requires a custom builder image)
3.  copy artifacts that were build in step 2  into new image (requires custom runtime image)

I was doing the above in Openshift using Chained Builds (see https://www.openshift.com/blog/chaining-builds).

My question, therefore, is how do I copy art

[2021-06-30 08:15] vdemeester commented on #770
/kind feature

[2021-07-04 11:33] #7 closed

[2021-07-07 10:06] pvlltvk opened #779 "Kaniko task leaves digest files in a workspace"
# Expected Behavior
`Kaniko` task removes temporary files which are used for exporting an image digest
# Actual Behavior
`image-digest ` folder and `image-digested` are left in a workspace. In some cases it can be inconvenient (for example if you are working with a git repo in that workspace).
# Steps to Reproduce the Problem

1. Use Kaniko task with a workspace in your pipeline
2. Use that worksp

[2021-07-09 15:50] #644 closed

[2021-07-11 15:37] #540 closed

[2021-07-13 12:28] sbwsg commented on #660
/lifecycle frozen

[2021-07-14 16:49] pvlltvk commented on #324
/reopen
I want to reopen this issue because I prepared a PR which implements this functionality.

[2021-07-14 16:50] pvlltvk commented on #779
#324

[2021-07-19 20:53] bobcatfish opened #784 "Update policy to bump Task/Pipeline versions whenever a change is made"
# Expected Behavior

As a user of Tasks in the catalog, when I use Task (or Pipeline) and I specify a specific version X, I should be confident that the Task (or Pipeline) I use at time Y is the same as the version at time Y+1, etc.

That is: if anything that is user facing in a Task (or Pipeline) changes, the version of should be bumped.

# Actual Behavior

We make changes to Tasks without bumpin

[2021-07-22 09:44] chmouel commented on #660
/assign

[2021-07-22 14:41] frerikandriessen opened #790 "Mypy task is out of date"
## Problem
The mypy image used is `docker.io/cytopia/mypy:latest-0.2` which uses `mypy==0.770` while `docker.io/cytopia/mypy:latest-0.4` is already out, which uses `mypy==0.901`.
Our project uses this later version, so we get all kinds of false positives from `mypy:latest-0.2`.

However, updating the task to the newest mypy version will give problems for anyone who uses an older version (and we wi

[2021-07-22 14:45] frerikandriessen commented on #790
Oh, and since I need this I am very much willing to pick this up. Just let me know if this is a PR you'd welcome to the repo.

[2021-07-23 09:29] frerikandriessen commented on #790
#792

[2021-07-24 15:11] R-Lam commented on #85
Sorry to revive this but we face this issue the last week after upgrading and the workaround included on the documentation for the downstream version on Openshift help (use vfs as storage driver), but, still needed to include the format for the image to push as docker since the new format is not compatible with some older versions of external registries where we wanted to backup images.

The relev

[2021-07-27 17:58] raffamendes opened #796 "Kaniko task failing with removing certs"
Hi guys, I'm trying to use kaniko task to build a container image in a pipeline, and I'm getting this error
[code]
# Expected Behavior
Kaniko Task building and pushing my image into openshift internal registry
# Actual Behavior
Kaniko task fails
# Steps to Reproduce the Problem

1. Create a simple pipeline and try to execute the kaniko task with a COPY command

# Additional Info
I actually found t

[2021-08-02 19:19] jerop commented on #784
/assign

[2021-08-03 07:18] vdemeester commented on #784
OCI bundle are not stable yet, so we can assume most of our user do not use them / have access to them. We can't rely on them completely until it's available for everyone.

[2021-08-15 02:18] johnlongo opened #803 "Running a pipeline in OKD 4.7.0-0.okd-2021-08-07-063045 (latest release) and getting "output" is invalid error"
Running a pipeline in OKD 4.7.0-0.okd-2021-08-07-063045 (latest release) that uses git-clone 2.0. When the pipeline starts up I'm getting "output" is invalid error (see attached). I've attached my Pipeline & Run yaml files with a .txt extension for your review. Please note: This pipeline did run fine in the past. I just created a new cluster and started building the pipelines and I ran into this p